{% load static %}

<style>
  .sponsors-logos-custom {

  }


</style>
<!-- Footer
================================================== -->
<footer id="footer" class="footer">
    <!-- Footer Widgets -->
    <div class="footer-widgets">
        <!-- Sponsors -->
        <div class="sponsors-container container">
            <div class="sponsors row justify-content-md-center sponsors--default">
                <div>
                    <div class="footer-logo__heading" style="text-align: center">
                        <h2 class="footer-logo__txt">PARTNER</h2>
                    </div>
                    <div class="vc_empty_space" style="height: 20px"></div>
                    <div class="team-roster team-roster--grid team-roster--grid-col-3" style="padding: 3px 15px 3px 15px">                                
                        {% for partner in partners_footer %}
                        <div class="custom-sponsor-footer-item"
                            style="display: flex;justify-content: center;align-items: center;text-align: center">
                            <a href="{{partner.url}}" target="_blank" title="{{partner.name}}">
                                <img src="/media/{{partner.logo_white}}" style="max-height: 50px">
                            </a>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
        <!-- Sponsors / End -->
        <div class="footer-widgets__inner">
            <div class="sponsors row justify-content-md-center sponsors--default">
                <div style="margin: auto">
                    <div>
                        <a href="{% url 'home' %}" rel="home">
                          <img src="/media/{{bayern.logo}}" class="header-logo__img" style="margin: auto;display: flex">
                        </a>
                    </div>
                    <div class="team-roster team-roster--grid team-roster--grid-col-3" style="padding: 20px 50px 0px 50px">                                
                        {% for platform in club_socials %}
                        <div class="custom-social-footer-item"
                            style="display: flex;justify-content: center;align-items: center;text-align: center">
                            <a href="{{platform.1}}" target="_blank" title="{{platform.0}}">
                                <img src="/media/logos/social/{{platform.2}}" width="30px">
                            </a>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Footer Widgets / End -->

</footer>
<!-- Footer / End -->