<div id="nm_color_filters-2" class="widget widget--sidebar card widget_nm_color_filters">
    <div class="widget__content card__content"></div>
    <div class="widget__title card__header">
        <h4>Filter by Color</h4>
    </div>
    <div class="widget__content card__content">
        <div class="color-filters-wrap">

            <div class="color-item" style="width: 20%;">

                <div class="color-wrap">
                    <div class="rcorners" style="background: #6d53bc;"><a
                            href="http://alchemists-wp.dan-fisher.com/soccer-dark/product-color/violet/">
                            <!-- -->
                        </a></div>
                </div>

            </div>


            <div class="color-item" style="width: 20%;">

                <div class="color-wrap">
                    <div class="rcorners" style="background: #1e81f1;"><a
                            href="http://alchemists-wp.dan-fisher.com/soccer-dark/product-color/blue/">
                            <!-- -->
                        </a></div>
                </div>

            </div>


            <div class="color-item" style="width: 20%;">

                <div class="color-wrap">
                    <div class="rcorners" style="background: #00cdf6;"><a
                            href="http://alchemists-wp.dan-fisher.com/soccer-dark/product-color/light-blue/">
                            <!-- -->
                        </a></div>
                </div>

            </div>


            <div class="color-item" style="width: 20%;">

                <div class="color-wrap">
                    <div class="rcorners" style="background: #1af1e3;"><a
                            href="http://alchemists-wp.dan-fisher.com/soccer-dark/product-color/cyan/">
                            <!-- -->
                        </a></div>
                </div>

            </div>


            <div class="color-item" style="width: 20%;">

                <div class="color-wrap">
                    <div class="rcorners" style="background: #14ee84;"><a
                            href="http://alchemists-wp.dan-fisher.com/soccer-dark/product-color/aqua/">
                            <!-- -->
                        </a></div>
                </div>

            </div>


            <div class="color-item" style="width: 20%;">

                <div class="color-wrap">
                    <div class="rcorners" style="background: #b0f526;"><a
                            href="http://alchemists-wp.dan-fisher.com/soccer-dark/product-color/green/">
                            <!-- -->
                        </a></div>
                </div>

            </div>


            <div class="color-item" style="width: 20%;">

                <div class="color-wrap">
                    <div class="rcorners" style="background: #ffdd00;"><a
                            href="http://alchemists-wp.dan-fisher.com/soccer-dark/product-color/yellow/">
                            <!-- -->
                        </a></div>
                </div>

            </div>


            <div class="color-item" style="width: 20%;">

                <div class="color-wrap">
                    <div class="rcorners" style="background: #ff870f;"><a
                            href="http://alchemists-wp.dan-fisher.com/soccer-dark/product-color/orange/">
                            <!-- -->
                        </a></div>
                </div>

            </div>


            <div class="color-item" style="width: 20%;">

                <div class="color-wrap">
                    <div class="rcorners" style="background: #ed2546;"><a
                            href="http://alchemists-wp.dan-fisher.com/soccer-dark/product-color/red/">
                            <!-- -->
                        </a></div>
                </div>

            </div>


            <div class="color-item" style="width: 20%;">

                <div class="color-wrap">
                    <div class="rcorners" style="background: #383838;"><a
                            href="http://alchemists-wp.dan-fisher.com/soccer-dark/product-color/dark/">
                            <!-- -->
                        </a></div>
                </div>

            </div>

        </div>
    </div>
</div>