<div class="main-news-banner__inner" style="background: linear-gradient(87.03deg, rgb(118, 35, 47) 5.27%, rgb(220, 5, 45) 97.41%);padding: 20px 20px 18px 25px;border-radius: 4px">
    <div class="posts posts--simple-list posts--simple-list--xlg">
        <div class="posts__item post type-post status-publish format-standard has-post-thumbnail hentry">
            <div class="posts__inner">

                <h6 class="posts__title">Become part of the FC Bayern family</h6>
                <div class="posts__excerpt">You want to be part of the club family? Then apply for your membership now!</div>
                <div class="posts__more" style="padding-top: 16px">
                    <a href="{% url 'login' %}" class="btn btn-inverse btn-sm btn-outline btn-icon-right btn-condensed"
                    style="background-color: #f3f3f3;color: rgb(198, 4, 40);border: none;border-radius: 3px">
                        Become a Member now!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>