<div class="post-related row">


    <div class="col-6">
        <!-- Prev Post -->
        <div class="card post-related__prev">
            <div class="card__content">

                <!-- Prev Post Links -->
                <a href="../the-team-is-starting-a-new-power-breakfast-regimen/index.html"
                    class="btn-nav">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <!-- Prev Post Links / End -->

                <ul class="posts posts--simple-list">
                    <li
                        class="posts__item posts__item--category-1 post-86 post type-post status-publish format-standard has-post-thumbnail hentry category-the-team tag-incorporation tag-team tag-uniforms">
                        <div class="posts__inner">

                            <div class="posts__cat"><span
                                    class="label posts__cat-label posts__cat-label--category-1 category-the-team">The
                                    Team</span></div>
                            <h6 class="posts__title"><a
                                    href="../the-team-is-starting-a-new-power-breakfast-regimen/index.html">The
                                    team is starting a new power breakfast regimen</a></h6>
                            <time datetime="2017-03-06T12:37:21+00:00" class="posts__date">March
                                6, 2017</time>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <!-- Prev Post / End -->
    </div>


    <div class="col-6">
        <div class="card post-related__next">
            <!-- Next Post -->
            <div class="card__content">

                <ul class="posts posts--simple-list">
                    <li
                        class="posts__item posts__item--category-1 post-567 post type-post status-publish format-standard has-post-thumbnail hentry category-the-team tag-alchemists tag-stadium">
                        <div class="posts__inner">

                            <div class="posts__cat"><span
                                    class="label posts__cat-label posts__cat-label--category-1 category-the-team">The
                                    Team</span></div>
                            <h6 class="posts__title"><a
                                    href="../the-planetrotters-will-perform-this-may-4th-at-madison-cube/index.html">The
                                    Planetrotters will perform this May 4th at Madison Cube</a>
                            </h6>
                            <time datetime="2017-04-05T12:05:16+00:00" class="posts__date">April
                                5, 2017</time>
                        </div>
                    </li>
                </ul>

                <!-- Next Post Link -->
                <a href="../the-planetrotters-will-perform-this-may-4th-at-madison-cube/index.html"
                    class="btn-nav">
                    <i class="fa fa-chevron-right"></i>
                </a>
                <!-- Next Post Link / End -->

            </div>
            <!-- Next Post / End -->
        </div>
    </div>


</div>