{% load static %}

<div id="recent-posts-widget-1" class="widget widget--sidebar card recent-posts">
    <div class="widget__content card__content"></div>
    <div class="widget__title card__header">
        <h4>Popular News</h4>
    </div>
    <div class="widget__content card__content">
        <div class="posts posts--simple-list">

            {% for news in popular_news %}

            <div class="posts__item posts__item--category-1 post-102 post type-post status-publish format-standard has-post-thumbnail hentry category-the-team tag-alchemists tag-stadium tag-team">
                <figure class="posts__thumb posts__thumb--hover">
                    <a href="{{news.get_absolute_url}}">
                        <img style="width:85px;height:85px;object-fit:cover;"
                            src="{% if news.image %}/media/{{news.image}}{% else %}{{news.image_url}}{% endif %}" class=" wp-post-image" alt="" loading="lazy">
                    </a>
                </figure>
                <div class="posts__inner">
                    <div class="posts__cat"><span class="label posts__cat-label posts__cat-label--category-1 category-the-team">{{news.news_type}}</span></div>
                    <h6 class="posts__title posts__title--color-hover" title="{{news.title}}" style="height: 40px">
                        <a href="{{news.get_absolute_url}}">{{news.title}}</a>
                    </h6>
                    <time datetime="2017-03-05T12:12:58+00:00" class="posts__date">{{news.added|date:"F j, Y"}}</time>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>