<div class="vc_row wpb_row vc_inner vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <!-- Post Loop -->
                <div class="card card--clean mb-0">
                    <div class="card__content">
                        <div class="card">
                            <div class="card__content">
                                <div class="posts posts--simple-list">
                                    <article
                                        class="posts__item posts__item--category-3 post-560 post type-post status-publish format-standard has-post-thumbnail hentry category-injuries tag-alchemists tag-players tag-women-division">
                                        <figure class="posts__thumb">
                                            <a
                                                href="franklin-stevens-has-a-knee-fracture-and-is-gona-be-out/index.html"><img
                                                    width="80" height="80"
                                                    src="{% static 'images/hero-slide-2-80x80.jpg' %}"
                                                    class="attachment-alchemists_thumbnail-xs size-alchemists_thumbnail-xs wp-post-image"
                                                    alt="" loading="lazy"></a>
                                        </figure>

                                        <div class="posts__inner">
                                            <div class="posts__cat">
                                                <span
                                                    class="label posts__cat-label posts__cat-label--category-3 category-injuries">Injuries</span>
                                            </div>
                                            <h6 class="posts__title">
                                                <a href="franklin-stevens-has-a-knee-fracture-and-is-gona-be-out/index.html"
                                                    rel="bookmark">Franklin Stevens has a
                                                    knee fracture and is gona
                                                    be out</a>
                                            </h6>
                                            <time datetime="2016-09-18T23:21:03+00:00" class="posts__date">September 18,
                                                2016</time>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="posts__excerpt posts__excerpt--space-sm">
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit,
                                            sed do eiusmod tempor
                                            incididunt ut labore et...
                                        </div>
                                    </article>
                                    <!-- #post-## -->

                                    <article
                                        class="posts__item posts__item--category-2 post-530 post type-post status-publish format-standard has-post-thumbnail hentry category-the-league tag-players tag-playoffs tag-stadium">
                                        <figure class="posts__thumb">
                                            <a
                                                href="the-championship-final-will-be-be-played-in-san-francisco/index.html"><img
                                                    width="80" height="80"
                                                    src="{% static 'images/soccer_post_6-380x270.jpg' %}"
                                                    class="attachment-alchemists_thumbnail-xs size-alchemists_thumbnail-xs wp-post-image"></a>
                                        </figure>

                                        <div class="posts__inner">
                                            <div class="posts__cat">
                                                <span
                                                    class="label posts__cat-label posts__cat-label--category-2 category-the-league">The
                                                    League</span>
                                            </div>
                                            <h6 class="posts__title">
                                                <a href="the-championship-final-will-be-be-played-in-san-francisco/index.html"
                                                    rel="bookmark">The Championship Final
                                                    will be be played in San
                                                    Francisco</a>
                                            </h6>
                                            <time datetime="2017-02-01T13:18:18+00:00" class="posts__date">February 1,
                                                2017</time>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="posts__excerpt posts__excerpt--space-sm">
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit,
                                            sed do eiusmod tempor
                                            incididunt ut labore et...
                                        </div>
                                    </article>
                                    <!-- #post-## -->

                                    <article
                                        class="posts__item posts__item--category-1 post-564 post type-post status-publish format-standard has-post-thumbnail hentry category-the-team tag-award tag-eco tag-stadium">
                                        <figure class="posts__thumb">
                                            <a
                                                href="the-new-eco-friendly-stadium-won-a-leafy-award-in-2016-2/index.html"><img
                                                    width="80" height="80"
                                                    src="{% static 'images/hero-slide-3-80x80.jpg' %}"
                                                    class="attachment-alchemists_thumbnail-xs size-alchemists_thumbnail-xs wp-post-image"></a>
                                        </figure>

                                        <div class="posts__inner">
                                            <div class="posts__cat">
                                                <span
                                                    class="label posts__cat-label posts__cat-label--category-1 category-the-team">The
                                                    Team</span>
                                            </div>
                                            <h6 class="posts__title">
                                                <a href="the-new-eco-friendly-stadium-won-a-leafy-award-in-2016-2/index.html"
                                                    rel="bookmark">The new eco friendly
                                                    stadium won a Leafy Award
                                                    in 2016</a>
                                            </h6>
                                            <time datetime="2017-02-18T23:25:17+00:00" class="posts__date">February 18,
                                                2017</time>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="posts__excerpt posts__excerpt--space-sm">
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit,
                                            sed do eiusmod tempor
                                            incididunt ut labore et...
                                        </div>
                                    </article>
                                    <!-- #post-## -->
                                </div>
                                <!-- .posts -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Post Loop / End -->
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <!-- Post Loop -->
                <div class="card card--clean mb-0">
                    <div class="card__content">
                        <div class="card">
                            <div class="card__content">
                                <div class="posts posts--simple-list">
                                    <article
                                        class="posts__item posts__item--category-1 post-96 post type-post status-publish format-standard has-post-thumbnail hentry category-the-team tag-alchemists tag-summer tag-team tag-vacation">
                                        <figure class="posts__thumb">
                                            <a href="the-team-is-taking-a-summer-vacation-on-woody-valley/index.html"><img
                                                    width="80" height="80"
                                                    src="wp-content/uploads/2017/03/post-img9-80x80.jpg"
                                                    class="attachment-alchemists_thumbnail-xs size-alchemists_thumbnail-xs wp-post-image"></a>
                                        </figure>

                                        <div class="posts__inner">
                                            <div class="posts__cat">
                                                <span
                                                    class="label posts__cat-label posts__cat-label--category-1 category-the-team">The
                                                    Team</span>
                                            </div>
                                            <h6 class="posts__title">
                                                <a href="the-team-is-taking-a-summer-vacation-on-woody-valley/index.html"
                                                    rel="bookmark">The team is taking a
                                                    summer vacation on Woody
                                                    Valley</a>
                                            </h6>
                                            <time datetime="2017-03-05T12:29:12+00:00" class="posts__date">March 5,
                                                2017</time>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="posts__excerpt posts__excerpt--space-sm">
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit,
                                            sed do eiusmod tempor
                                            incididunt ut labore et...
                                        </div>
                                    </article>
                                    <!-- #post-## -->

                                    <article
                                        class="posts__item posts__item--category-1 post-99 post type-post status-publish format-standard has-post-thumbnail hentry category-the-team tag-alchemists tag-players tag-team">
                                        <figure class="posts__thumb">
                                            <a href="brian-kingster-was-penalized-with-four-games-out/index.html"><img
                                                    width="80" height="80"
                                                    src="{% static 'images/soccer_post_4-773x408.jpg' %}"
                                                    class="attachment-alchemists_thumbnail-xs size-alchemists_thumbnail-xs wp-post-image"></a>
                                        </figure>

                                        <div class="posts__inner">
                                            <div class="posts__cat">
                                                <span
                                                    class="label posts__cat-label posts__cat-label--category-1 category-the-team">The
                                                    Team</span>
                                            </div>
                                            <h6 class="posts__title">
                                                <a href="brian-kingster-was-penalized-with-four-games-out/index.html"
                                                    rel="bookmark">Brian Kingster was
                                                    penalized with four games
                                                    out</a>
                                            </h6>
                                            <time datetime="2017-03-05T12:20:56+00:00" class="posts__date">March 5,
                                                2017</time>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="posts__excerpt posts__excerpt--space-sm">
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit,
                                            sed do eiusmod tempor
                                            incididunt ut labore et...
                                        </div>
                                    </article>
                                    <!-- #post-## -->

                                    <article
                                        class="posts__item posts__item--category-1 post-102 post type-post status-publish format-standard has-post-thumbnail hentry category-the-team tag-alchemists tag-stadium tag-team">
                                        <figure class="posts__thumb">
                                            <a
                                                href="alchemists-new-stadium-is-gonna-be-ready-in-september-2017/index.html"><img
                                                    width="80" height="80"
                                                    src="wp-content/uploads/2017/03/hero-slide-1-80x80.jpg"
                                                    class="attachment-alchemists_thumbnail-xs size-alchemists_thumbnail-xs wp-post-image"></a>
                                        </figure>

                                        <div class="posts__inner">
                                            <div class="posts__cat">
                                                <span
                                                    class="label posts__cat-label posts__cat-label--category-1 category-the-team">The
                                                    Team</span>
                                            </div>
                                            <h6 class="posts__title">
                                                <a href="alchemists-new-stadium-is-gonna-be-ready-in-september-2017/index.html"
                                                    rel="bookmark">Alchemists New Stadium is
                                                    gonna be ready in
                                                    September</a>
                                            </h6>
                                            <time datetime="2017-03-05T12:12:58+00:00" class="posts__date">March 5,
                                                2017</time>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="posts__excerpt posts__excerpt--space-sm">
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit,
                                            sed do eiusmod tempor
                                            incididunt ut labore et...
                                        </div>
                                    </article>
                                    <!-- #post-## -->
                                </div>
                                <!-- .posts -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Post Loop / End -->
            </div>
        </div>
    </div>
</div>