{% load static %}

<aside class="pushy-panel pushy-panel--dark">
    <div class="pushy-panel__inner">
        <header class="pushy-panel__header">
            <div class="pushy-panel__logo">
                <a href="{% url 'home' %}" rel="home">
                    <img src="/media/{{bayern.logo}}" class="pushy-panel__logo-img">
                </a>
            </div>
        </header>

        <div class="pushy-panel__content">
            <div id="recent-posts-widget-5" class="widget widget--side-panel recent-posts">
                <div class="posts posts--simple-list">
                    {% for news in banner_news %}
                    <div class="posts__item posts__item--category-{{news.news_type.category}} post type-post status-publish format-standard has-post-thumbnail hentry category-{{news.news_type.css_name}}">
                        <figure class="posts__thumb posts__thumb--hover">
                            <a href="{{news.get_absolute_url}}">
                                <img width="80" height="80" src="{% if news.image %}/media/{{news.image}}{% else %}{{news.image_url}}{% endif %}" class="wp-post-image" style="object-fit: cover;height: 86px">
                            </a>
                        </figure>

                        <div class="posts__inner">
                            <div class="posts__cat">
                                <span class="label posts__cat-label posts__cat-label--category-{{news.news_type.category}} category-{{news.news_type.css_name}}">{{news.news_type}}</span>
                            </div>
                            <h6 class="posts__title posts__title--color-hover" title="{{news.title}}" style="height: 43px">
                                <a href="{{news.get_absolute_url}}">{{news.title|truncatechars:40}}</a>
                            </h6>
                            <time class="posts__date">{{news.added|date:"F j, Y"}}</time>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
            <div id="tag_cloud-2" class="widget widget--side-panel widget_tag_cloud">
                <h4 class="widget__title">Popular Tags</h4>
                <div class="tagcloud">
                    <a href="tag/alchemists/index.html"
                        class="tag-cloud-link tag-link-19 btn btn-primary btn-xs btn-outline btn-sm tag-link-position-1"
                        aria-label="Alchemists (10 items)">Alchemists</a>
                    <a href="tag/awards/index.html"
                        class="tag-cloud-link tag-link-21 btn btn-primary btn-xs btn-outline btn-sm tag-link-position-2"
                        aria-label="awards (2 items)">awards</a>
                    <a href="tag/coach/index.html"
                        class="tag-cloud-link tag-link-23 btn btn-primary btn-xs btn-outline btn-sm tag-link-position-3"
                        aria-label="Coach (2 items)">Coach</a>
                    <a href="tag/injuries/index.html"
                        class="tag-cloud-link tag-link-26 btn btn-primary btn-xs btn-outline btn-sm tag-link-position-4"
                        aria-label="Injuries (3 items)">Injuries</a>
                    <a href="tag/playoffs/index.html"
                        class="tag-cloud-link tag-link-29 btn btn-primary btn-xs btn-outline btn-sm tag-link-position-5"
                        aria-label="Playoffs (5 items)">Playoffs</a>
                    <a href="tag/stadium/index.html"
                        class="tag-cloud-link tag-link-30 btn btn-primary btn-xs btn-outline btn-sm tag-link-position-6"
                        aria-label="stadium (6 items)">stadium</a>
                </div>
            </div>
            <div id="media_image-2" class="widget widget--side-panel widget_media_image">
                <a href="http://bit.ly/2y4ZKHd"><img width="300" height="250" src="{% static 'images/banner.jpg' %}"
                        class="image wp-image-1264 attachment-medium size-medium" alt="" loading="lazy"
                        style="max-width: 100%; height: auto" srcset="
              https://soccer-dark-alc.dan-fisher.dev/wp-content/uploads/2018/04/banner.jpg         300w,
              https://soccer-dark-alc.dan-fisher.dev/wp-content/uploads/2018/04/banner-128x107.jpg 128w,
              https://soccer-dark-alc.dan-fisher.dev/wp-content/uploads/2018/04/banner-32x27.jpg    32w,
              https://soccer-dark-alc.dan-fisher.dev/wp-content/uploads/2018/04/banner-70x58.jpg    70w,
              https://soccer-dark-alc.dan-fisher.dev/wp-content/uploads/2018/04/banner-100x83.jpg  100w
            " sizes="(max-width: 300px) 100vw, 300px" /></a>
            </div>
        </div>
        <a href="#" class="pushy-panel__back-btn"></a>
    </div>
</aside>