{% load static %}

<aside class="pushy-panel pushy-panel--dark">
    <div class="pushy-panel__inner">
        <header class="pushy-panel__header">
            <div class="pushy-panel__logo">
                <a href="{% url 'home' %}" rel="home">
                    <img src="/media/{{bayern.logo}}" class="pushy-panel__logo-img">
                </a>
            </div>
        </header>

        <div class="pushy-panel__content">
            <div id="recent-posts-widget-5" class="widget widget--side-panel recent-posts">
                <div class="posts posts--simple-list">
                    {% for news in banner_news %}
                    <div class="posts__item posts__item--category-{{news.news_type.category}} post type-post status-publish format-standard has-post-thumbnail hentry category-{{news.news_type.css_name}}">
                        <figure class="posts__thumb posts__thumb--hover">
                            <a href="{{news.get_absolute_url}}">
                                <img width="80" height="80" src="{% if news.image %}/media/{{news.image}}{% else %}{{news.image_url}}{% endif %}" class="wp-post-image" style="object-fit: cover;height: 86px">
                            </a>
                        </figure>

                        <div class="posts__inner">
                            <div class="posts__cat">
                                <span class="label posts__cat-label posts__cat-label--category-{{news.news_type.category}} category-{{news.news_type.css_name}}">{{news.news_type}}</span>
                            </div>
                            <h6 class="posts__title posts__title--color-hover" title="{{news.title}}" style="height: 43px">
                                <a href="{{news.get_absolute_url}}">{{news.title|truncatechars:40}}</a>
                            </h6>
                            <time class="posts__date">{{news.added|date:"F j, Y"}}</time>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
            <div id="tag_cloud-2" class="widget widget--side-panel widget_tag_cloud">
                <h4 class="widget__title">Popular Tags</h4>
                <div class="tagcloud">
                    {% for tag in popular_tags %}
                    <a href="{% url 'news_by_tag' tag.name %}"
                        class="tag-cloud-link tag-link-19 btn btn-primary btn-xs btn-outline btn-sm tag-link-position-{{forloop.counter}}"
                        aria-label="{{tag.display}} ({{tag.news_article_set.count}} items)">{{tag.display}}</a>
                    {% endfor %}
                </div>
            </div>

        </div>
        <a href="#" class="pushy-panel__back-btn"></a>
    </div>
</aside>