{% load static %}

<div class="sp-widget-align-none">
    <div id="sportspress-league-table-1" class="widget widget--sidebar card widget_sportspress widget_league_table widget_sp_league_table">
        <div class="widget__content card__content">
            <div class="sp-template sp-template-league-table">
                <div class="card card--has-table">
                    <header class="card__header">
                        <h4 class="sp-table-caption">Bundesliga</h4>
                        <a href="{% url 'roster' %}" class="btn btn-xs btn-default card-header__button btn-outline">View full table</a>
                    </header>
                    <div class="card__content">
                        <div class="table-responsive sp-table-wrapper">
                            <table class="table table-hover table-standings sp-league-table sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table" data-sp-rows="9">
                                <thead>
                                    <tr>
                                        <th class="data-rank">Pos</th><th class="data-name">Club</th><th class="data-w">W</th>
                                        <th class="data-d">D</th><th class="data-l">L</th><th class="data-pts">Pts</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for club in league_stats_widget %}
                                    <tr class="{% cycle 'odd' 'even' %}{% if club.club.name == bayern.full_name %} highlighted{% endif %} sp-row-no-{{forloop.counter0}}">
                                        <td class="data-rank{% if club.club.name == bayern.full_name %} sp-highlight{% endif %}" data-label="Pos">{{forloop.counter}}</td>
                                        <td class="data-name has-logo{% if club.club.name == bayern.full_name %} sp-highlight{% endif %}" data-label="Club">
                                            <span class="team-logo">
                                                <img width="130" height="130" src="/media/{{club.club.logo}}" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image">
                                            </span>{{club.club.name|truncatechars:12}}
                                        </td>
                                        <td class="data-w{% if club.club.name == bayern.full_name %} sp-highlight{% endif %}" data-label="W">{{club.wins}}</td>
                                        <td class="data-d{% if club.club.name == bayern.full_name %} sp-highlight{% endif %}" data-label="D">{{club.draw}}</td>
                                        <td class="data-l{% if club.club.name == bayern.full_name %} sp-highlight{% endif %}" data-label="L">{{club.loss}}</td>
                                        <td class="data-pts{% if club.club.name == bayern.full_name %} sp-highlight{% endif %}" data-label="Pts">{{club.points}}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>