{% load social_media_scraping %}

<div id="df-social-count-2" class="widget widget--sidebar card df-social-count-widget">
    <div class="widget__content card__content">
        <div class="df-social-count df-social-count--columns">
            <a class="btn-social-counter btn-social-counter--facebook" href="{{bayern.fb_link}}" rel="nofollow noopener noreferrer" target="_blank">
                <div class="btn-social-counter__icon"><i class="fa fa-facebook"></i></div>
                <h6 class="btn-social-counter__title">Like our Facebook page</h6>
                <span class="btn-social-counter__count">
                    <span class="btn-social-counter__count-num">{% if bayern.insta_link %}{% get_fb_page_likes bayern.fb_link %}{% endif %}</span> likes
                </span>
            </a>
            <a class="btn-social-counter btn-social-counter--twitter" href="{{bayern.twitter_link}}" rel="nofollow noopener noreferrer" target="_blank">
                <div class="btn-social-counter__icon"><i class="fa fa-twitter"></i></div>
                <h6 class="btn-social-counter__title">Follow us on Twitter</h6>
                <span class="btn-social-counter__count">
                    <span class="btn-social-counter__count-num">{% if bayern.insta_link %}{% get_twitter_followers bayern.twitter_link %}{% endif %}</span> followers
                </span>
            </a>
            <a class="btn-social-counter btn-social-counter--instagram" href="{{bayern.insta_link}}" rel="nofollow noopener noreferrer" target="_blank">
                <div class="btn-social-counter__icon"><i class="fa fa-instagram"></i></div>
                <h6 class="btn-social-counter__title">Follow us on Instagram</h6>
                <span class="btn-social-counter__count">
                    <span class="btn-social-counter__count-num">{% if bayern.insta_link %}{% get_insta_followers bayern.insta_link %}{% endif %}</span> followers
                </span>
            </a>
        </div>
    </div>
</div>