<div id="df-social-count-2"
class="widget widget--sidebar card df-social-count-widget"
>
<div class="widget__content card__content">
  <div
    class="df-social-count df-social-count--columns"
  >
    <a
      class="btn-social-counter btn-social-counter--facebook"
      href="https://www.facebook.com/danfisher.dev"
      rel="nofollow noopener noreferrer"
      target="_blank"
      ><div class="btn-social-counter__icon">
        <i class="fa fa-facebook"></i>
      </div>
      <h6 class="btn-social-counter__title">
        Like our Facebook page
      </h6>
      <span class="btn-social-counter__count"
        ><span
          class="btn-social-counter__count-num"
          >307</span
        >
        likes</span
      ><span
        class="btn-social-counter__add-icon"
      ></span></a
    ><a
      class="btn-social-counter btn-social-counter--twitter"
      href="https://twitter.com/danfisher_dev"
      rel="nofollow noopener noreferrer"
      target="_blank"
      ><div class="btn-social-counter__icon">
        <i class="fa fa-twitter"></i>
      </div>
      <h6 class="btn-social-counter__title">
        Follow us on Twitter
      </h6>
      <span class="btn-social-counter__count"
        ><span
          class="btn-social-counter__count-num"
          >275</span
        >
        followers</span
      ><span
        class="btn-social-counter__add-icon"
      ></span></a
    ><a
      class="btn-social-counter btn-social-counter--instagram"
      href="https://instagram.com/dan.fisher.dev"
      rel="nofollow noopener noreferrer"
      target="_blank"
      ><div class="btn-social-counter__icon">
        <i class="fa fa-instagram"></i>
      </div>
      <h6 class="btn-social-counter__title">
        Follow us on Instagram
      </h6>
      <span class="btn-social-counter__count"
        ><span
          class="btn-social-counter__count-num"
          >0</span
        >
        followers</span
      ><span
        class="btn-social-counter__add-icon"
      ></span
    ></a>
  </div>
</div>
</div>
                                  