<div id="tag_cloud-1" class="widget widget--sidebar card widget_tag_cloud">
    <div class="widget__content card__content"></div>
    <div class="widget__title card__header">
        <h4>Tag Cloud</h4>
    </div>
    <div class="widget__content card__content">
        <div class="tagcloud">
            {% for tag in all_tags %}
            <a href="{% url 'news_by_tag' tag.name %}"
                class="tag-cloud-link btn btn-primary btn-xs btn-outline btn-sm tag-link-position-{{forloop.counter}}"
                aria-label="{{tag.display}} ({{tag.news_article_set.count}} items)">{{tag.display}}</a>
            {% endfor %}
        </div>
    </div>
</div>