{% extends 'base.html' %}
{% block content %}

<title>Send Password Reset Link</title>
<div class="page-heading page-heading--has-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 offset-lg-1">

                <h1 class="page-heading__title">Send Password Reset Link</h1>

                <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs"
                    itemprop="breadcrumb">
                    <ul class="trail-items">
                        <meta name="numberOfItems" content="2" />
                        <meta name="itemListOrder" content="Ascending" />
                        <li class="trail-item trail-begin">
                            <a href="{% url 'home' %}">Home</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li class="trail-item trail-end">
                            <span itemprop="item"><span itemprop="name">Send Password Reset Link</span></span>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>

<div class="site-content " id="content">
    <div class="container">
        <div class="row">

            <div id="primary" class="content-area col-lg-12">
                <main id="main" class="site-main">

                    <div class="page type-page status-publish hentry">
                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="row" id="customer_login">

                                    <div class="col-lg-12">

                                        <!-- Send Password reset Form -->
                                        <div class="card">
                                            <header class="card__header"><h4>Forgot Password</h4></header>
                                            <div class="card__content">
                                                <form class="woocomerce-form woocommerce-form-login login" method="post">
                                                    {% csrf_token %}

                                                    <div class="form-group">
                                                        <label for="id_email">Registered email address&nbsp;<span class="required">*</span></label>
                                                        <input type="email" class="woocommerce-Input woocommerce-Input--text form-control"
                                                            name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                                                    </div>

                                                    <div class="form-group form-group--sm">
                                                        <button type="submit" class="woocommerce-Button col-lg-4 btn btn-primary-inverse btn-lg btn-block" name="login" value="Log in">Send Password Reset Link</button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                        <!-- Login Form / End -->

                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>

                </main>
            </div>

        </div>
    </div>
</div>

{% endblock %}