{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load countries %}
{% get_countries as countries %}
{% load custom_calculations %}

<title>Account - FC Bayern</title>
<div class="page-heading page-heading--has-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 offset-lg-1"><h1 class='page-heading__title'>My account</h1></div>

        </div>
    </div>
</div>

<div class="site-content " id="content">
    <div class="container">
        <div class="row">

            <div id="primary" class="content-area col-lg-12">
                <main id="main" class="site-main">


                    <div id="post-83" class="post-83 page type-page status-publish hentry">

                        <div class="entry-content">
                            <div class="woocommerce">

                                <div class="row woocommerce-account">

                                    <!-- Account Navigation -->
                                    <div class="col-lg-4 alc-account-nav alc-account-nav--default">
                                        <div class="card">
                                            <header class="card__header"><h4>Welcome Back!</h4></header>
                                            <div class="card__content">
                                                <nav class="df-account-navigation">
                                                    <ul>
                                                        <li class="woocommerce-MyAccount-navigation-link is-active df-account-navigation__link" onclick="account_switch_tabs(event, 'account-dashboard')"><a>Dashboard</a></li>
                                                        <li class="woocommerce-MyAccount-navigation-link df-account-navigation__link" onclick="account_switch_tabs(event, 'account-orders')"><a>Orders</a></li>
                                                        <li class="woocommerce-MyAccount-navigation-link df-account-navigation__link" onclick="account_switch_tabs(event, 'account-addresses')"><a>Addresses</a></li>
                                                        <li class="woocommerce-MyAccount-navigation-link df-account-navigation__link" onclick="account_switch_tabs(event, 'account-account')"><a>Account details</a></li>
                                                        <li class="woocommerce-MyAccount-navigation-link df-account-navigation__link"><a href="{% url 'logout' %}">Logout</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Account Navigation / End -->

                                    <div class="col-lg-8 alc-account-content alc-account-content--default">


                                        <div class="card card--lg" id="account-dashboard">
                                            <header class="card__header"><h4>My account</h4></header>
                                            <div class="card__content">
                                                <div class="woocommerce-notices-wrapper">

                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            {% if message.tags == 'success' %}
                                                                <ul class="woocommerce-message" role="alert">
                                                                    <li>{{message}}</li>
                                                                </ul>
                                                            {% elif message.tags == 'error' %}
                                                                <div class="woocommerce-error" role="alert">
                                                                    {{message}}
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}

                                                </div>
                                                <div class="player-info__item player-info__item--photo">
                                                    <figure class="player-info__photo"><img src="/media/{{logged_user.profile_pic}}" width="222px"></figure>
                                                </div>
                                                <div class="spacer"></div>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <th>Display Name</th><td style="color: rgb(220, 5, 45);font-size: 15px;font-weight: bold">{{logged_user.name_display}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>First Name</th><td>{{logged_user.first_name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Last Name</th><td>{{logged_user.last_name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Username</th><td>{{logged_user.username}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Email Address</th><td>{{logged_user.email}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Social Link</th><td><a href="{{logged_user.social_link}}">{{logged_user.social_link}}</a></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Date Joined</th><td>{{logged_user.date_joined|date:"F j, Y - g:i A"}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Status</th><td>{% if logged_user.is_staff == True %}Admin{% endif %} {% if logged_user|has_group:"Content Creators" %}Content Creator{% endif %} </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="card card--lg" id="account-orders">
                                            <header class="card__header"><h4>Orders</h4></header>
                                            <div class="card__content">

                                                {% if all_orders == None %}

                                                <div class="woocommerce-message woocommerce-message--info woocommerce-Message woocommerce-Message--info woocommerce-info">
                                                    <a class="woocommerce-Button button" href="{% url 'shop' %}">Go to the shop </a>
                                                    No order has been made yet.
                                                </div>
                                                {% else %}
                                                <table class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table table">
                                                    <thead>
                                                        <tr>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number">
                                                                <span class="nobr">Order</span></th>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date">
                                                                <span class="nobr">Date</span></th>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status">
                                                                <span class="nobr">Status</span></th>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-total">
                                                                <span class="nobr">Total</span></th>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions">
                                                                <span class="nobr">Actions</span></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        {% for order in all_orders %}
                                                        <tr class="woocommerce-orders-table__row woocommerce-orders-table__row--status-on-hold order">
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="Order">
                                                                <a href="{% url 'order' logged_user.slug order.id %}"> #{{order.id}} </a>
                                                            </td>
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date" data-title="Date">
                                                                <time>{{order.order_date|date:"F d, Y"}}</time>
                                                            </td>
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status" data-title="Status">
                                                            {% if order.dispatched == True %}<strong style="color:#049904">dispatched</strong>{% else %} On hold {% endif %}
                                                            </td>
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-total" data-title="Total">
                                                                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&euro;</span>{{order.total_amount}} </span> for {{order.order_item_set.count}} items
                                                            </td>
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Actions">
                                                                <a href="{% url 'order' logged_user.slug order.id %}"
                                                                    class="woocommerce-button btn btn-primary btn-xs view">View</a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>

                                                {% endif %}

                                                {% if logged_user.sold_ticket_set.count > 0  %}

                                                <h5>BOOKED TICKETS</h5>
                                                <table class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table table">
                                                    <thead>
                                                        <tr>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number">
                                                                <span class="nobr">Match</span></th>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date">
                                                                <span class="nobr">Seat Category</span></th>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status">
                                                                <span class="nobr">Quantity</span></th>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-total">
                                                                <span class="nobr">Total</span></th>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions">
                                                                <span class="nobr">Actions</span></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        {% for ticket in logged_user.sold_ticket_set.all %}
                                                        <tr class="woocommerce-orders-table__row woocommerce-orders-table__row--status-on-hold order">
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date">
                                                                <time>{{ticket.match.match.competition.name}} - {{ticket.match.match.match_title}}</time>
                                                            </td>
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date">
                                                                <time>{{ticket.get_seat_cat_display}}</time>
                                                            </td>
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date">
                                                                <time>{{ticket.quantity}}</time>
                                                            </td>
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date">
                                                                <time>{{ticket.price}}</time>
                                                            </td>
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Actions">
                                                                <a href="/media/bayern_ticket.pdf" target="_blank" class="woocommerce-button btn btn-primary btn-xs view">Download</a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>

                                                {% endif %}
                                            </div>
                                        </div>
                                        
                                        <div class="card card--lg" id="account-addresses">
                                            <header class="card__header"><h4>Addresses</h4></header>
                                            <div class="card__content">
                                                
                                                <p>The following addresses will be used on the checkout page by default.</p>
                                                <div class="u-columns woocommerce-Addresses col2-set addresses">
                                                    <div class="u-column1 col-1 woocommerce-Address">
                                                        <header class="woocommerce-Address-title title">
                                                            <h3>Billing address</h3>
                                                            <a href="{% url 'address' logged_user.slug 'billing' %}"
                                                                class="edit">{% if billing_address == None %}Add{% else %}Edit{% endif %}</a>
                                                        </header>
                                                        <address>
                                                            {% if billing_address == None %}
                                                                You have not set up this type of address yet.
                                                            {% else %}
                                                                {{billing_address.company}}<br>{{billing_address.first_name}} {{billing_address.last_name}}<br>
                                                                {{billing_address.address_1}}, {{billing_address.address_2}}<br>
                                                                {{billing_address.city}}, {{billing_address.postcode}}<br>
                                                                {{billing_address.state}}, {{billing_address.country}}
                                                            {% endif %}
                                                        </address>
                                                    </div>
                                                    <div class="u-column2 col-2 woocommerce-Address">
                                                        <header class="woocommerce-Address-title title">
                                                            <h3>Shipping address</h3>
                                                            <a href="{% url 'address' logged_user.slug 'shipping' %}"
                                                                class="edit">{% if shipping_address == None %}Add{% else %}Edit{% endif %}</a>
                                                        </header>
                                                        <address>
                                                            {% if shipping_address == None %}
                                                                You have not set up this type of address yet.
                                                            {% else %}
                                                                {{shipping_address.company}}<br>{{shipping_address.first_name}} {{shipping_address.last_name}}<br>
                                                                {{shipping_address.address_1}}, {{shipping_address.address_2}}<br>
                                                                {{shipping_address.city}}, {{shipping_address.postcode}}<br>
                                                                {{shipping_address.state}}, {{shipping_address.country}}
                                                            {% endif %}
                                                        </address>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card card--lg" id="account-account">
                                            <header class="card__header"><h4>Account Details</h4></header>
                                            <div class="card__content">
                                                
                                                <div class="player-info__item player-info__item--photo">
                                                    <figure class="player-info__photo"><img id="uploadPreview" src="/media/{{logged_user.profile_pic}}" width="222px"></figure>
                                                </div>
                                            
                                                <form class="woocommerce-EditAccountForm edit-account" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                    <input type="file" name="profile_pic" id="select_image" style="visibility:hidden" accept=".jpg,.png" onchange="Snk_PreviewImage();">
                                                    <div class="btn-container btn-container--align-inline">
                                                        <label class="btn btn-default btn-outline btn-sm" for="select_image" title="Button Title">Change Profile Image</label>
                                                    </div>
                                                    <div class="spacer"></div>
                                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                        <label for="account_username">Username <span class="required">*</span></label>
                                                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text"
                                                            name="account_username" id="account_username" autocomplete="given-name" value="{{logged_user.username}}" />
                                                    </p>
                                                    <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                                                        <label for="account_first_name">First name <span class="required">*</span></label>
                                                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text"
                                                            name="account_first_name" id="account_first_name" autocomplete="given-name" value="{{logged_user.first_name}}" />
                                                    </p>
                                                    <p class="woocommerce-form-row woocommerce-form-row--last form-row form-row-last">
                                                        <label for="account_last_name">Last name <span class="required">*</span></label>
                                                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text"
                                                            name="account_last_name" id="account_last_name" autocomplete="family-name" value="{{logged_user.last_name}}" />
                                                    </p>
                                                    <div class="clear"></div>

                                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                        <label for="account_display_name">Display name <span class="required">*</span></label>
                                                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text"
                                                            name="account_display_name" id="account_display_name" value="{{logged_user.name_display}}" />
                                                        <span><em>This will be how your name will be displayed in the account section and in reviews</em></span>
                                                    </p>
                                                    <div class="clear"></div>

                                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                        <label for="account_email">Email address <span class="required">*</span></label>
                                                        <input type="email" class="woocommerce-Input woocommerce-Input--email input-text"
                                                            name="account_email" id="account_email" autocomplete="email" value="{{logged_user.email}}" />
                                                    </p>
                                                    <div class="spacer"></div>

                                                    <fieldset>
                                                        <legend>Password change</legend>
                                                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                            <label for="password_current">Current password (leave blank to leave unchanged)</label>
                                                            <input type="password" class="woocommerce-Input woocommerce-Input--password input-text"
                                                                name="password_current" id="password_current" autocomplete="off" />
                                                        </p>
                                                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                            <label for="password_1">New password (leave blank to leave unchanged)</label>
                                                            <input type="password" class="woocommerce-Input woocommerce-Input--password input-text"
                                                                name="password_1" id="password_1" autocomplete="off" />
                                                        </p>
                                                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                            <label for="password_2">Confirm new password</label>
                                                            <input type="password" class="woocommerce-Input woocommerce-Input--password input-text"
                                                                name="password_2" id="password_2" autocomplete="off" />
                                                        </p>
                                                    </fieldset>
                                                    <div class="clear"></div>

                                                    <p class="mb-0">
                                                        <button type="submit" class="woocommerce-Button button btn-lg btn-block"
                                                            name="save_account_details" value="Save changes">Save changes</button>
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                        

                                    </div>

                                </div><!-- .row -->
                            </div>
                        </div><!-- .entry-content -->
                    </div><!-- #post-## -->

                </main><!-- #main -->
            </div><!-- #primary -->

        </div>
    </div>
</div>

<script src="{% static 'js/account_switch_tabs.js' %}" id="account_switch_tabs-js" defer></script>

{% endblock %}

