{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load countries %}
{% get_countries as countries %}

<title>Account - FC Bayern</title>
<div class="page-heading page-heading--has-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 offset-lg-1"><h1 class='page-heading__title'>My account</h1></div>

        </div>
    </div>
</div>

<div class="site-content " id="content">
    <div class="container">
        <div class="row">

            <div id="primary" class="content-area col-lg-12">
                <main id="main" class="site-main">


                    <div id="post-83" class="post-83 page type-page status-publish hentry">

                        <div class="entry-content">
                            <div class="woocommerce">

                                <div class="row woocommerce-account">

                                    <!-- Account Navigation -->
                                    <div class="col-lg-4 alc-account-nav alc-account-nav--default">
                                        <div class="card">
                                            <header class="card__header">
                                                <h4>Welcome Back!</h4>
                                            </header>
                                            <div class="card__content">
                                                <nav class="df-account-navigation">
                                                    <ul>
                                                        <li
                                                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active df-account-navigation__link">
                                                            <a
                                                                href="http://alchemists-wp.dan-fisher.com/soccer-dark/my-account/">Dashboard</a>
                                                        </li>
                                                        <li
                                                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders df-account-navigation__link">
                                                            <a
                                                                href="http://alchemists-wp.dan-fisher.com/soccer-dark/my-account/orders/">Orders</a>
                                                        </li>
                                                        <li
                                                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads df-account-navigation__link">
                                                            <a
                                                                href="http://alchemists-wp.dan-fisher.com/soccer-dark/my-account/downloads/">Downloads</a>
                                                        </li>
                                                        <li
                                                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address df-account-navigation__link">
                                                            <a
                                                                href="http://alchemists-wp.dan-fisher.com/soccer-dark/my-account/edit-address/">Addresses</a>
                                                        </li>
                                                        <li
                                                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account df-account-navigation__link">
                                                            <a
                                                                href="http://alchemists-wp.dan-fisher.com/soccer-dark/my-account/edit-account/">Account
                                                                details</a>
                                                        </li>
                                                        <li
                                                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout df-account-navigation__link">
                                                            <a
                                                                href="http://alchemists-wp.dan-fisher.com/soccer-dark/my-account/customer-logout/?_wpnonce=6d96a84e85">Logout</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Account Navigation / End -->

                                    <div class="col-lg-8 alc-account-content alc-account-content--default">


                                        <div class="card card--lg">
                                            <header class="card__header"><h4>My account</h4></header>
                                            <div class="card__content">
                                                <div class="woocommerce-notices-wrapper"></div>
                                                <p>
                                                    Hello <strong>{{logged_user.username}}</strong>
                                                    (not <strong>neerajvb</strong>?
                                                    <a href="http://alchemists-wp.dan-fisher.com/soccer-dark/my-account/customer-logout/?_wpnonce=6d96a84e85">
                                                        Log out</a>)
                                                </p>
                                                <p>
                                                    From your account dashboard you can view your 
                                                    <a href="http://alchemists-wp.dan-fisher.com/soccer-dark/my-account/orders/">
                                                        recent orders</a>, manage your 
                                                    <a href="http://alchemists-wp.dan-fisher.com/soccer-dark/my-account/edit-address/">
                                                        shipping and billing addresses</a>, and 
                                                    <a href="http://alchemists-wp.dan-fisher.com/soccer-dark/my-account/edit-account/">
                                                        edit your password and account details</a>.
                                                </p>
                                            </div>
                                        </div>

                                        
                                        <div class="card card--lg">
                                            <header class="card__header"><h4>Orders</h4></header>
                                            <div class="card__content">
                                                <div class="woocommerce-notices-wrapper"></div>

                                                {% if all_orders == None %}

                                                <div class="woocommerce-message woocommerce-message--info woocommerce-Message woocommerce-Message--info woocommerce-info">
                                                    <a class="woocommerce-Button button" href="http://alchemists-wp.dan-fisher.com/soccer-dark/shop/">Go to the shop </a>
                                                    No order has been made yet.
                                                </div>
                                                {% else %}
                                                <table class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table table">
                                                    <thead>
                                                        <tr>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number">
                                                                <span class="nobr">Order</span></th>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date">
                                                                <span class="nobr">Date</span></th>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status">
                                                                <span class="nobr">Status</span></th>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-total">
                                                                <span class="nobr">Total</span></th>
                                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions">
                                                                <span class="nobr">Actions</span></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        {% for order in all_orders %}
                                                        <tr class="woocommerce-orders-table__row woocommerce-orders-table__row--status-on-hold order">
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="Order">
                                                                <a href="http://alchemists-wp.dan-fisher.com/soccer-dark/my-account/view-order/1385/"> #{{order.id}} </a>
                                                            </td>
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date" data-title="Date">
                                                                <time datetime="2022-11-28T16:33:40+00:00">{{order.order_date|date:"F d, Y"}}</time>
                                                            </td>
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status" data-title="Status">
                                                            {% if order.dispatched == True %}<strong style="color:#049904">dispatched</strong>{% else %} On hold {% endif %}
                                                            </td>
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-total" data-title="Total">
                                                                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&euro;</span>{{order.total_amount}} </span> for {{order.order_item_set.count}} items
                                                            </td>
                                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Actions">
                                                                <a href="{% url 'order' logged_user.slug order.id %}"
                                                                    class="woocommerce-button btn btn-primary btn-xs view">View</a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>

                                                {% endif %}
                                            </div>
                                        </div>
                                        



                                        <div class="card card--lg">
                                            <header class="card__header"><h4>Addresses</h4></header>
                                            <div class="card__content">
                                                <div class="woocommerce-notices-wrapper">

                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            {% if message.tags == 'success' %}
                                                                <div class="woocommerce-message" role="alert">{{message}}</div>
                                                            {% elif message.tags == 'error' %}
                                                                <div class="woocommerce-error" role="alert">{{message}}</div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}

                                                </div>

                                                <p>The following addresses will be used on the checkout page by default.</p>
                                                <div class="u-columns woocommerce-Addresses col2-set addresses">
                                                    <div class="u-column1 col-1 woocommerce-Address">
                                                        <header class="woocommerce-Address-title title">
                                                            <h3>Billing address</h3>
                                                            <a href="{% url 'address' logged_user.slug 'billing' %}"
                                                                class="edit">{% if billing_address == None %}Add{% else %}Edit{% endif %}</a>
                                                        </header>
                                                        <address>
                                                            {% if billing_address == None %}
                                                                You have not set up this type of address yet.
                                                            {% else %}
                                                                {{billing_address.company}}<br>{{billing_address.first_name}} {{billing_address.last_name}}<br>
                                                                {{billing_address.address_1}}, {{billing_address.address_2}}<br>
                                                                {{billing_address.city}}, {{billing_address.postcode}}<br>
                                                                {{billing_address.state}}, {{billing_address.country}}
                                                            {% endif %}
                                                        </address>
                                                    </div>
                                                    <div class="u-column2 col-2 woocommerce-Address">
                                                        <header class="woocommerce-Address-title title">
                                                            <h3>Shipping address</h3>
                                                            <a href="{% url 'address' logged_user.slug 'shipping' %}"
                                                                class="edit">{% if shipping_address == None %}Add{% else %}Edit{% endif %}</a>
                                                        </header>
                                                        <address>
                                                            {% if shipping_address == None %}
                                                                You have not set up this type of address yet.
                                                            {% else %}
                                                                {{shipping_address.company}}<br>{{shipping_address.first_name}} {{shipping_address.last_name}}<br>
                                                                {{shipping_address.address_1}}, {{shipping_address.address_2}}<br>
                                                                {{shipping_address.city}}, {{shipping_address.postcode}}<br>
                                                                {{shipping_address.state}}, {{shipping_address.country}}
                                                            {% endif %}
                                                        </address>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="card card--lg">
                                            <header class="card__header"><h4>Account Details</h4></header>
                                            <div class="card__content">
                                                <div class="woocommerce-notices-wrapper">

                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            {% if message.tags == 'success' %}
                                                                <ul class="woocommerce-message" role="alert">
                                                                    <li>{{message}}</li>
                                                                </ul>
                                                            {% elif message.tags == 'error' %}
                                                                <div class="woocommerce-error" role="alert">
                                                                    {{message}}
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}

                                                </div>
                                                <form class="woocommerce-EditAccountForm edit-account" action="" method="post">
                                                {% csrf_token %}
                                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                        <label for="account_username">Username <span class="required">*</span></label>
                                                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text"
                                                            name="account_username" id="account_username" autocomplete="given-name" value="{{logged_user.username}}" />
                                                    </p>
                                                    <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                                                        <label for="account_first_name">First name <span class="required">*</span></label>
                                                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text"
                                                            name="account_first_name" id="account_first_name" autocomplete="given-name" value="{{logged_user.first_name}}" />
                                                    </p>
                                                    <p class="woocommerce-form-row woocommerce-form-row--last form-row form-row-last">
                                                        <label for="account_last_name">Last name <span class="required">*</span></label>
                                                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text"
                                                            name="account_last_name" id="account_last_name" autocomplete="family-name" value="{{logged_user.last_name}}" />
                                                    </p>
                                                    <div class="clear"></div>

                                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                        <label for="account_display_name">Display name <span class="required">*</span></label>
                                                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text"
                                                            name="account_display_name" id="account_display_name" value="{{logged_user.name_display}}" />
                                                        <span><em>This will be how your name will be displayed in the account section and in reviews</em></span>
                                                    </p>
                                                    <div class="clear"></div>

                                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                        <label for="account_email">Email address <span class="required">*</span></label>
                                                        <input type="email" class="woocommerce-Input woocommerce-Input--email input-text"
                                                            name="account_email" id="account_email" autocomplete="email" value="{{logged_user.email}}" />
                                                    </p>
                                                    <div class="spacer"></div>

                                                    <fieldset>
                                                        <legend>Password change</legend>
                                                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                            <label for="password_current">Current password (leave blank to leave unchanged)</label>
                                                            <input type="password" class="woocommerce-Input woocommerce-Input--password input-text"
                                                                name="password_current" id="password_current" autocomplete="off" />
                                                        </p>
                                                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                            <label for="password_1">New password (leave blank to leave unchanged)</label>
                                                            <input type="password" class="woocommerce-Input woocommerce-Input--password input-text"
                                                                name="password_1" id="password_1" autocomplete="off" />
                                                        </p>
                                                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                            <label for="password_2">Confirm new password</label>
                                                            <input type="password" class="woocommerce-Input woocommerce-Input--password input-text"
                                                                name="password_2" id="password_2" autocomplete="off" />
                                                        </p>
                                                    </fieldset>
                                                    <div class="clear"></div>

                                                    <p class="mb-0">
                                                        <button type="submit" class="woocommerce-Button button btn-lg btn-block"
                                                            name="save_account_details" value="Save changes">Save changes</button>
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                        

                                    </div>

                                </div><!-- .row -->
                            </div>
                        </div><!-- .entry-content -->
                    </div><!-- #post-## -->

                </main><!-- #main -->
            </div><!-- #primary -->

        </div>
    </div>
</div>


{% endblock %}