{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load custom_calculations %}

<title>Club - {{bayern.full_name}}</title>
<div class="site-content " id="content">
    <div class="container">
        <div class="row">
            <img src="/media/banners/club_page_banner.png">

            <nav class="content-filter">
                <div class="container" style="padding-right: 0px;padding-left: 0px">
                    <div class="content-filter__inner">
                        <a href="#" class="content-filter__toggle"></a>
                        <ul class="content-filter__list" style="border-left: none;border-right: none">
                            <li class="content-filter__item content-filter__item--active" onclick="player_page_switch_tabs(event, 'zzz_membership')">
                                <span class="content-filter__link">Membership</span>
                            </li>

                            <li class="content-filter__item" onclick="player_page_switch_tabs(event, 'zzz_board_ag')">
                                <span class="content-filter__link">Board Members</span>
                            </li>
                            
                            <li class="content-filter__item" onclick="player_page_switch_tabs(event, 'zzz_board_ev')">
                                <span class="content-filter__link">Supervisory Board Members</span>
                            </li>

                            <li class="content-filter__item" onclick="player_page_switch_tabs(event, 'zzz_trophies')">
                                <span class="content-filter__link">Honours</span>
                            </li>

                            <li class="content-filter__item" onclick="player_page_switch_tabs(event, 'zzz_sponsors')">
                                <span class="content-filter__link">Partners</span>
                            </li>

                            <li class="content-filter__item" onclick="player_page_switch_tabs(event, 'zzz_history')">
                                <span class="content-filter__link">History</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            
            <div id="zzz_membership" class="content-area col-lg-12">
                <main id="main" class="site-main">
                    <p>With over 290,000 club members, FC Bayern M&uuml;nchen eV is the sports club boasting the largest number of members in the world. 
                        Through their membership, our supporters not only document their identification with the club, but are also part of the large FC Bayern family.</p>
                    <p>Your heart also beats for FC Bayern Munich and you would like to be part of the red and white club family? Then apply for&nbsp;
                        <a href="{% url 'login' %}">membership</a>&nbsp;
                        now - we look forward to welcoming you!</p>
                    <p>You can find all the important information about membership here on this page.</p>
                    <p><strong>Oh, and by the way:</strong></p>
                    <p>100% of the income generated by memberships benefits FC Bayern M&uuml;nchen eV, which primarily supports our youth work and our grassroots sports departments.</p>

                    {% include 'includes/widgets/membership.html' %}


                    <div class="vc_empty_space" style="height: 40px"></div>

                    <h3>FC Bayern Membership at a glance</h3>  
                    <div class="team-roster team-roster--grid team-roster--grid-col-3 sp-player-gallery-wrapper sp-gallery-wrapper">
                                                                   
                        {% for article in membership_articles %}
                    
                        <div class='custom-card-item'>
                            <div style="background-color: rgb(18 31 56)">
                                <a href="{% url 'article' article.slug %}">
                                    <img src="{{article.banner}}">
                                </a>
                                <div class="custom-card-subheading"><span>{{article.sub_heading}}</span></div>
                                <h6 class="custom-card-heading">{{article.name}}</h6>
                            </div>
                        </div>
                        {% endfor%}
                    </div>

                    <div class="vc_empty_space" style="height: 16px"></div>

                    <h3>Venues</h3>  
                    <div class="team-roster team-roster--grid team-roster--grid-col-3 sp-player-gallery-wrapper sp-gallery-wrapper">
                                                                   
                        {% for article in venues %}
                    
                        <div class='custom-card-item'>
                            <div style="background-color: rgb(18 31 56)">
                                <a href="{% url 'article' article.slug %}">
                                    <img src="{{article.banner}}">
                                </a>
                                <div class="custom-card-subheading"><span>{{article.sub_heading}}</span></div>
                                <h6 class="custom-card-heading">{{article.name}}</h6>
                            </div>
                        </div>
                        {% endfor%}
                    </div>


                </main><!-- #main -->
            </div>

            <div id="zzz_board_ag" class="content-area col-lg-12">
                <main id="main" class="site-main">
                    <div id="post-1166" class="post-1166 page type-page status-publish hentry">

                        <div class="entry-content">
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <div class="sportspress sp-widget-align-none">
                                                        <div id='sp-player-gallery-57' class='gallery galleryid-57 gallery-columns-3 gallery-size-sportspress-crop-medium'>
                                                            <div class="sp-template sp-template-player-gallery sp-template-gallery">

                                                                <div class="vc_empty_space" style="height: 25px"></div>


                                                                <h3>{{ceo.designation}}</h3>
                                                                        
                                                                <div class="team-roster team-roster--grid team-roster--grid-col-3 sp-player-gallery-wrapper sp-gallery-wrapper">     
                                                                    <div class='team-roster__item' style="flex-basis: 100%;max-width: 100%">
                                                                        <div class='team-roster__holder'>
                                                                            <figure class='team-roster__img'>
                                                                            <a href="{% url 'officer' ceo.slug %}">
                                                                                <img src="{{ceo.profile_pic}}">
                                                                            </a>
                                                                            </figure>
                                                                            <div class='team-roster__content' style="padding: 25px 25px">
                                                                                <div class='team-roster__content-inner'>
                                                                                    <div class='team-roster__member-info'>
                                                                                    <h2 class='team-roster__member-name team-roster__member-name--has-link'>
                                                                                        <a href="{% url 'officer' ceo.slug %}">{{ceo.name}}</a>
                                                                                    </h2>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="vc_empty_space" style="height: 32px"></div>


                                                                <div class="team-roster team-roster--grid team-roster--grid-col-3 sp-player-gallery-wrapper sp-gallery-wrapper">                                                       
                                                                    {% for member in ag_members %}
                                                                
                                                                    <div class='team-roster__item' style="flex-basis: 100%;max-width: 100%" >
                                                                        <div class='team-roster__holder'>
                                                                            <h3>{{member.designation}}</h3>
                                                                            <figure class='team-roster__img'>
                                                                            <a href="{% url 'officer' member.slug %}">
                                                                                <img src="{{member.profile_pic}}">
                                                                            </a>
                                                                            </figure>
                                                                            <div class='team-roster__content' style="padding: 25px 25px">
                                                                                <div class='team-roster__content-inner'>
                                                                                    <div class='team-roster__member-info'>
                                                                                    <h2 class='team-roster__member-name team-roster__member-name--has-link'>
                                                                                        <a href="{% url 'officer' member.slug %}">{{member.name}}</a>
                                                                                    </h2>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {% endfor%}
                                                                </div>
                                                                <div class="vc_empty_space" style="height: 32px"></div>




                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .entry-content -->
                    </div><!-- #post-## -->

                </main><!-- #main -->
            </div>

            <div id="zzz_board_ev" class="content-area col-lg-12">
                <main id="main" class="site-main">
                    <div id="post-1166" class="post-1166 page type-page status-publish hentry">

                        <div class="entry-content">
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <div class="sportspress sp-widget-align-none">
                                                        <div id='sp-player-gallery-57' class='gallery galleryid-57 gallery-columns-3 gallery-size-sportspress-crop-medium'>
                                                            <div class="sp-template sp-template-player-gallery sp-template-gallery">

                                                                <div class="vc_empty_space" style="height: 25px"></div>

                                                                <h3>{{president.designation}}</h3>     
                                                                <div class="team-roster team-roster--grid team-roster--grid-col-3 sp-player-gallery-wrapper sp-gallery-wrapper">     
                                                                    <div class='team-roster__item' style="flex-basis: 100%;max-width: 100%">
                                                                        <div class='team-roster__holder'>
                                                                            <figure class='team-roster__img'>
                                                                            <a href="{% url 'officer' president.slug %}">
                                                                                <img src="{{president.profile_pic}}">
                                                                            </a>
                                                                            </figure>
                                                                            <div class='team-roster__content' style="padding: 25px 25px">
                                                                                <div class='team-roster__content-inner'>
                                                                                    <div class='team-roster__member-info'>
                                                                                    <h2 class='team-roster__member-name team-roster__member-name--has-link'>
                                                                                        <a href="{% url 'officer' president.slug %}">{{president.name}}</a>
                                                                                    </h2>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="vc_empty_space" style="height: 32px"></div>


                                                                <div class="team-roster team-roster--grid team-roster--grid-col-3 sp-player-gallery-wrapper sp-gallery-wrapper">                                                       
                                                                    {% for member in ev_members %}
                                                                
                                                                    <div class='team-roster__item' style="flex-basis: 100%;max-width: 100%" >
                                                                        <div class='team-roster__holder'>
                                                                            <h3>{{member.designation}}</h3>
                                                                            <figure class='team-roster__img'>
                                                                            <a href="{% url 'officer' member.slug %}">
                                                                                <img src="{{member.profile_pic}}">
                                                                            </a>
                                                                            </figure>
                                                                            <div class='team-roster__content' style="padding: 25px 25px">
                                                                                <div class='team-roster__content-inner'>
                                                                                    <div class='team-roster__member-info'>
                                                                                    <h2 class='team-roster__member-name team-roster__member-name--has-link'>
                                                                                        <a href="{% url 'officer' member.slug %}">{{member.name}}</a>
                                                                                    </h2>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {% endfor%}
                                                                </div>
                                                                <div class="vc_empty_space" style="height: 32px"></div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .entry-content -->
                    </div><!-- #post-## -->

                </main><!-- #main -->
            </div>

            <div id="zzz_trophies" class="content-area col-lg-12">
                <main id="main" class="site-main">
                    <div id="post-1166" class="post-1166 page type-page status-publish hentry">

                        <div class="entry-content">
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <div class="sportspress sp-widget-align-none">
                                                        <div id='sp-player-gallery-57' class='gallery galleryid-57 gallery-columns-3 gallery-size-sportspress-crop-medium'>
                                                            <div class="sp-template sp-template-player-gallery sp-template-gallery">

                                                                <div class="vc_empty_space" style="height: 25px"></div>

                                                                <div class="team-roster team-roster--grid team-roster--grid-col-trophy sp-player-gallery-wrapper sp-gallery-wrapper">                                                       
                                                                    {% for trophy in all_trophies %}
                                                                
                                                                    <div class='team-roster__item' style="height: 260px;flex-basis" >
                                                                        <div class='team-roster__holder' 
                                                                        style="height: inherit;background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9))">
                                                                            <figure class='team-roster__img' style="border: none">
                                                                                <img src="{{trophy.image}}">
                                                                            </figure>
                                                                            <div class='team-roster__content'>
                                                                                <div class='team-roster__content-inner'>
                                                                                    <div class='team-roster__member-info'>
                                                                                        <div style="font-size:20px;text-align:center;color:white"><b>{{trophy.count}}</b></div> 
                                                                                        <div style="font-size:17px;text-align:center;color:#c4ccd8">{{trophy.name}}</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {% endfor%}


                                                                    {% for trophy in all_trophies %}
                    
                                                                    <div class='custom-card-item-trophy'>
                                                                        <div style="background-color: rgb(18 31 56)">
                                                                            <img class="trophy-image" src="{{trophy.image}}">
                                                                            <div class="custom-card-subheading"><span>{{trophy.count}}</span></div>
                                                                            <h6 class="custom-card-heading">{{trophy.name}}</h6>
                                                                        </div>
                                                                    </div>
                                                                    {% endfor%}

                                                                </div>
                                                                <div class="vc_empty_space" style="height: 32px"></div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .entry-content -->
                    </div><!-- #post-## -->

                </main><!-- #main -->
            </div>

            <div id="zzz_sponsors" class="content-area col-lg-12">
                <main id="main" class="site-main">
                    <div class="vc_empty_space" style="height: 40px"></div>

                    {% for cat, value in all_partner_types %}
                    {% if partners|partner_filter:cat %}
                    <h3>{{value}}</h3>  
                    {% endif %}
                    <div class="team-roster team-roster--grid team-roster--grid-col-3 sp-player-gallery-wrapper sp-gallery-wrapper">
                                                                   
                        {% for partner in partners|partner_filter:cat %}
                    
                        <div class="{% if cat == 'main' %}custom-sponsor-item{% else %}custom-sponsor-item-small{% endif %}">
                            <a href="{{partner.url}}" title="{{partner.name}}">
                                <img src="/media/{{partner.logo}}">
                            </a>
                        </div>
                        {% endfor%}
                    </div>
                    {% endfor %}
                </main><!-- #main -->
            </div>

            <div id="zzz_history" class="content-area col-lg-12">
                <main id="main" class="site-main">
                    <div class="vc_empty_space" style="height: 40px"></div>

                    <div class="team-roster team-roster--grid team-roster--grid-col-3 sp-player-gallery-wrapper sp-gallery-wrapper">
                                                                   
                        {% for article in honourary_members %}
                    
                        <div class='custom-card-item-bigger'>
                            <div style="background-color: rgb(18 31 56)">
                                <a href="{% url 'article' article.slug %}">
                                    <img src="{{article.banner}}">
                                </a>
                                <div class="custom-card-subheading"><span>{{article.sub_heading}}</span></div>
                                <h6 class="custom-card-heading">{{article.name}}</h6>
                            </div>
                        </div>
                        {% endfor%}
                    </div>

                    <h3>Milestones</h3>
                    <div class="team-roster team-roster--grid team-roster--grid-col-3 sp-player-gallery-wrapper sp-gallery-wrapper">
                                                                   
                        {% for article in milestones %}
                    
                        <div class='custom-card-item'>
                            <div style="background-color: rgb(18 31 56)">
                                <a href="{% url 'article' article.slug %}">
                                    <img src="{{article.banner}}">
                                </a>
                                <div class="custom-card-subheading"><span>{{article.sub_heading}}</span></div>
                                <h6 class="custom-card-heading">{{article.name}}</h6>
                            </div>
                        </div>
                        {% endfor%}
                    </div>

                    <h3>Hall of Fame</h3>
                    <div class="team-roster team-roster--grid team-roster--grid-col-3 sp-player-gallery-wrapper sp-gallery-wrapper">
                                                                   
                        {% for article in hall_of_famers %}
                    
                        <div class='custom-card-item'>
                            <div style="background-color: rgb(18 31 56)">
                                <a href="{% url 'article' article.slug %}">
                                    <img src="{{article.banner}}">
                                </a>
                                <div class="custom-card-subheading"><span>{{article.sub_heading}}</span></div>
                                <h6 class="custom-card-heading">{{article.name}}</h6>
                            </div>
                        </div>
                        {% endfor%}
                    </div>


                </main><!-- #main -->
            </div>

        </div>
    </div>
</div>

<script src="{% static 'js/team_page_edits.js' %}" id="team-page-edits-js" defer></script>
{% endblock%}