{% extends 'base.html' %}
{% block content %}
{% load static %}

<title>Contact Us - FC Bayern</title>
<div class="page-heading page-heading--has-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 offset-lg-1">
                <h1 class='page-heading__title'>Contact Us</h1>
                <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs"
                    itemprop="breadcrumb">
                    <ul class="trail-items" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <meta name="numberOfItems" content="2" />
                        <meta name="itemListOrder" content="Ascending" />
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
                            class="trail-item trail-begin"><a
                                href="http://alchemists-wp.dan-fisher.com/soccer-dark/" rel="home"
                                itemprop="item"><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
                            class="trail-item trail-end"><span itemprop="item"><span itemprop="name">Contact
                                    Us</span></span>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>

<div class="site-content pb-0" id="content">
    <div class="container">
        <div class="woocommerce-notices-wrapper">
                                    
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <ul class="woocommerce-info" role="alert">
                        <li><strong>Success : </strong>{{message}}</li>
                    </ul>
                    {% elif message.tags == 'error' %}
                    <ul class="woocommerce-error" role="alert">
                        <li><strong>Error : </strong>{{message}}</li>
                    </ul>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
        </div>
        <div class="row" style="padding-bottom: 85px">

            <div id="primary" class="content-area col-lg-12">
                <main id="main" class="site-main">


                    <div id="post-577" class="post-577 page type-page status-publish hentry">

                        <div class="entry-content">
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1496587941845">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <!-- Card -->
                                            <div class="card">

                                                <div class="card__header">
                                                    <h4 class="">Contact Form</h4>
                                                </div>

                                                <div class="card__content">
                                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                                            <div class="vc_column-inner">
                                                                <div class="wpb_wrapper">
                                                                    <div class="wpb_text_column wpb_content_element ">
                                                                        <div class="wpb_wrapper" style="text-align:center;padding: 10px 30px 10px 30px;">
                                                                            <h5>Questions? Send us a Message!</h5>
                                                                            <p>Can't find the answer to your question in our FAQs? We are always on hand for help and advice!</p>
                                                                            <div class="spacer-sm"></div>
                                                                                <h5>TELEPHONE</h5>
                                                                                <p><b>+49 89 699 31-0</b><br>
                                                                                    Monday-Friday<br>
                                                                                    08:00-20:00 (CET)</p>
                                                                            <div class="spacer-sm"></div>
                                                                                <h5>POST</h5>
                                                                                <p><b>FC Bayern München AG</b><br>
                                                                                    Säbener Straße 51-57<br>
                                                                                    81547 Munich</p>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                                            <div class="vc_column-inner">
                                                                <div class="wpb_wrapper">
                                                                    <div role="form">
                                                                        <form action="{% url 'contact_send' %}" method="post">
                                                                            {% csrf_token %}
                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label>Your Name <span class="required">*</span></label><br>
                                                                                        <span class="input-name">
                                                                                            <input type="text" name="input-name" class="form-control" placeholder="Your full name...">
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label>Your Email <span class="required">*</span></label><br>
                                                                                        <span class="input-email">
                                                                                            <input type="email" name="input-email" class="form-control" placeholder="Your email...">
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label>Subject</label><br />
                                                                                        <span class="input-subject">
                                                                                            <input type="text" name="input-subject" size="40" class="form-control" placeholder="Your subject..." />
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Your Message <span class="required">*</span></label><br>
                                                                                <span class="textarea">
                                                                                    <textarea name="message" cols="40" rows="5" class="form-control" placeholder="Enter your message here.."></textarea>
                                                                                </span>
                                                                            </div>
                                                                            <div class="form-group form-group--submit">
                                                                                <input type="submit" value="Send Your Message" class="btn btn-primary-inverse btn-lg btn-block">
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- Card / End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-vc-full-width="false" data-vc-full-width-init="false" style="left:auto;width:inherit"
                                data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_gmaps_widget wpb_content_element">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_map_wraper"><iframe
                                                            src="https://maps.google.com/maps?hl=en&amp;q=allianz arena&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                                                             height="450" frameborder="0"
                                                            style="border:0" allowfullscreen></iframe></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                 <div class="vc_row-full-width vc_clearfix"></div>
                        </div><!-- .entry-content -->
                        <div class="vc_empty_space" style="height: 30px"></div>
                    </div><!-- #post-## -->

                </main><!-- #main -->
            </div><!-- #primary -->

        </div>
    </div>
</div>

{% endblock %}