{% extends 'base.html' %}
{% block content %}
{% load static %}

<title>{{bayern.full_name}}</title>
<!-- Hero Slider
================================================== -->
<div class="hero-slider-wrapper">
  <!-- Slides -->
    <div class="hero-slider hero-slider--thumbs hero-slider--overlay-on">

    {% for news in banner_news %}

        <div class="hero-slider__item posts__item--category-{{news.news_type.category}} post type-post status-publish format-standard has-post-thumbnail hentry category-{{news.news_type.css_name}}">
            <div class="hero-slider__item-image" style="background-image: {% if news.image %}url(/media/{{news.image}}){% else %}url('{{news.image_url}}'){% endif %};"></div>
            <div class="container hero-slider__item-container">
                <div class="row">
                    <div class="col-lg-8 offset-md-2">
                        <!-- Post Meta - Top -->
                        <div class="post__meta-block post__meta-block--top">
                            <div class="posts__cat">
                                <span class="label posts__cat-label posts__cat-label--category-{{news.news_type.category}} category-{{news.news_type.css_name}}">{{news.news_type}}</span>
                            </div>
                            <!-- Post Title -->
                            <h1 class="posts__title">
                                <a href="{{news.get_absolute_url}}" rel="bookmark">{{news.title}}</a>
                            </h1>
                            <!-- Post Title / End -->

                            <!-- Post Meta Info -->
                            <ul class="post__meta meta">
                                <li class="meta__item meta__item--date">
                                    <time>{{news.added|date:"F j, Y"}}</time>
                                </li>

                                <div class="meta__item meta__item--views">{{news.views}}</div>
                                <li class="meta__item meta__item--likes">
                                    <div class="meta__item meta__item--likes ">
                                        <a {% if logged_user %}href="{% url 'like' logged_user.id news.id %}"{% endif %} class="sl-button" title="Like">
                                            <span class="sl-icon">
                                                <i class="meta-like icon-heart" {% if logged_user and logged_user in news.liked.all %}style="color: red"{% endif %}></i>
                                            </span>
                                            <span class="sl-count">{{news.num_likes}}</span>
                                        </a>
                                        <span class="sl-loader"></span>
                                    </div>
                                </li>
                                <div class="meta__item meta__item--comments">
                                    <a href="">{{news.comment_set.count}}</a>
                                </div>
                            </ul>
                            <!-- Post Meta Info / End -->

                            <!-- Post Author -->
                            <div class="post-author">
                                <figure class="post-author__avatar">
                                    <img src="/media/{{news.author.profile_pic}}" class="avatar avatar-40 photo" height="40" width="40">
                                </figure>
                                <div class="post-author__info">
                                    <h4 class="post-author__name">{{news.author.name_display}}</h4>
                                {% if news.author.is_staff == True %}<span class="post-author__slogan">admin</span>{% endif %}
                                </div>
                            </div>
                            <!-- Post Author / End -->
                        </div>
                    <!-- Post Meta - Top / End -->
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

    </div>
    <!-- Slides / End -->

    <!-- Thumbs -->
    <div class="hero-slider-thumbs-wrapper">
        <div class="container">
            <div class="hero-slider-thumbs posts posts--simple-list">

            {% for news in banner_news %}
                <div class="hero-slider-thumbs__item posts__item--category-{{news.news_type.category}} post type-post status-publish format-standard has-post-thumbnail hentry category-{{news.news_type.css_name}}">
                    <div class="posts__item posts__item--category-{{news.news_type.category}}">
                        <div class="posts__inner">
                            <div class="posts__cat">
                                <span class="label posts__cat-label posts__cat-label--category-{{news.news_type.category}} category-{{news.news_type.css_name}}">{{news.news_type}}</span>
                            </div>
                            <h6 class="posts__title">{{news.title}}</h6>
                            <time class="posts__date">{{news.added|date:"F j, Y"}}</time>
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>
        </div>
    </div>
    <!-- Thumbs / End -->

    <script type="text/javascript">
    (function ($) {
      $(function () {
        var rtl = $("html").attr("dir") ? true : false;

        // Thumbs navigation
        var slick_hero_slider = $(".hero-slider");
        var slick_hero_thumbs = $(".hero-slider-thumbs");
        slick_hero_slider.slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false,
          fade: true,
          rtl: rtl,
          rows: 0,
          autoplay: 1,
          autoplaySpeed: 8000,
          asNavFor: slick_hero_thumbs,

          responsive: [
            {
              breakpoint: 992,
              settings: {
                fade: false,
              },
            },
          ],
        });

        slick_hero_thumbs.slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          asNavFor: slick_hero_slider,
          focusOnSelect: true,
          rtl: rtl,
          rows: 0,
        });
      });
    })(jQuery);
    </script>
</div>

<div class="site-content" id="content">
    <div class="container">
        <div class="row">
            <div id="primary" class="content-area col-lg-12">
                <main id="main" class="site-main">
                    <div class="page type-page status-publish hentry">
                        <div class="entry-content">
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">

                                            {% include 'includes/widgets/membership.html' %}
                                            <div class="vc_empty_space" style="height: 16px"></div>

                                            <!-- Post Loop -->
                                            <div class="card card--clean">
                                                <div class="card__header card__header--has-filter">
                                                    <h4 class="">Featured News</h4>
                                                    <ul class="category-filter" id="category-filter-629328544">
                                                        <li class="category-filter__item">
                                                            <a href="#" class="category-filter__link category-filter__link--reset category-filter__link--active">All</a>
                                                        </li>
                                                        <li class="category-filter__item">
                                                            <a href="#" class="category-filter__link" data-category="category-team">The Team</a>
                                                        </li>
                                                        <li class="category-filter__item">
                                                            <a href="#" class="category-filter__link" data-category="category-league">Bundesliga</a>
                                                        </li>
                                                        <li class="category-filter__item">
                                                            <a href="#" class="category-filter__link" data-category="category-ucl">Champions League</a>
                                                        </li>
                                                        <li class="category-filter__item">
                                                            <a href="#" class="category-filter__link" data-category="category-injury">Injuries</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="card__content">
                                                    <div id="slick-629328544" class="posts posts--slider-featured slick">

                                                    {% for news in featured_news %}
                                                        <article class="posts__item post type-post status-publish format-standard has-post-thumbnail hentry category-{{news.news_type.css_name}} tag-awards tag-coach tag-stadium">
                                                            <figure class="posts__thumb">
                                                                <a href="{{news.get_absolute_url}}" class="posts__link-wrapper">
                                                                    <img width="773" height="408" src="{% if news.image %}/media/{{news.image}}{% else %}{{news.image_url}}{% endif %}" class="attachment-alchemists_thumbnail-lg-alt size-alchemists_thumbnail-lg-alt wp-post-image">
                                                                </a>
                                                            </figure>
                                                            <div class="posts__inner">
                                                                <div class="posts__cat">
                                                                    <span class="label posts__cat-label posts__cat-label--category-{{news.news_type.category}} category-{{news.news_type.css_name}}">{{news.news_type}}</span>
                                                                </div>
                                                                <h3 class="posts__title">{{news.title}}</h3>
                                                                <div class="post-author">
                                                                    <figure class="post-author__avatar">
                                                                        <img src="/media/{{news.author.profile_pic}}" class="avatar avatar-24 photo" height="24" width="24">
                                                                    </figure>
                                                                    <div class="post-author__info">
                                                                        <h4 class="post-author__name">{{news.author.name_display}}</h4>
                                                                        <time class="posts__date">{{news.added|date:"F j, Y"}}</time>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    {% endfor %}
                                                    </div>
                                                    <!-- .posts -->

                                                    <script type="text/javascript">
                                                        (function ($) {
                                                            $(function () {
                                                                var rtl = $("html").attr("dir")
                                                                    ? true
                                                                    : false;

                                                                // Posts
                                                                ($slick_post_slider_629328544 =
                                                                    $("#slick-629328544")),
                                                                    $slick_post_slider_629328544.slick({
                                                                        slidesToShow: 1,
                                                                        slidesToScroll: 1,
                                                                        autoplay: true,
                                                                        autoplaySpeed: 5000,
                                                                        arrows: true,
                                                                        rtl: rtl,
                                                                        rows: 0,

                                                                        responsive: [
                                                                            {
                                                                                breakpoint: 769,
                                                                                settings: {
                                                                                    arrows: false,
                                                                                },
                                                                            },
                                                                        ],
                                                                    });

                                                                // Filter by Categories
                                                                var filtered = false;

                                                                $(
                                                                    "#category-filter-629328544 .category-filter__link"
                                                                ).on("click", function (e) {
                                                                    var category = $(this).data("category");
                                                                    $slick_post_slider_629328544.slick(
                                                                        "slickUnfilter"
                                                                    );
                                                                    $slick_post_slider_629328544.slick(
                                                                        "slickFilter",
                                                                        "." + category
                                                                    );
                                                                    $(
                                                                        "#category-filter-629328544 .category-filter__link--active"
                                                                    ).removeClass(
                                                                        "category-filter__link--active"
                                                                    );
                                                                    $(this).addClass(
                                                                        "category-filter__link--active"
                                                                    );
                                                                    e.preventDefault();
                                                                });

                                                                // Reset Filter (Show All posts)
                                                                $(
                                                                    "#category-filter-629328544 .category-filter__link--reset"
                                                                ).on("click", function (e) {
                                                                    $slick_post_slider_629328544.slick(
                                                                        "slickUnfilter"
                                                                    );
                                                                    $(
                                                                        "#category-filter-629328544 .category-filter__link"
                                                                    ).removeClass(
                                                                        "category-filter__link--active"
                                                                    );
                                                                    $(this).addClass(
                                                                        "category-filter__link--active"
                                                                    );
                                                                    filtered = false;
                                                                    e.preventDefault();
                                                                });
                                                            });
                                                        })(jQuery);
                                                    </script>
                                                </div>
                                            </div>
                                            <!-- Post Loop / End -->

                                            <!-- Post Loop -->
                                            <div class="card card--clean mb-0">
                                                <div class="card__header">
                                                    <h4 class="">Latest News</h4>
                                                    <a class="btn btn-xs btn-default card-header__button btn-outline" href="#" title="See All Posts">See All Posts</a>
                                                </div>
                                                <div class="card__content">
                                                    <div class="posts posts--cards post-grid post-grid--2cols row">

                                                        {% for news in newest_news %}
                                                        <article class="post-grid__item col-sm-6 posts__item--category-{{news.news_type.category}} post type-post status-publish format-standard has-post-thumbnail hentry category-{{news.news_type.css_name}}">
                                                            <div class="posts__item posts__item--card card">
                                                                <figure class="posts__thumb">
                                                                    <div class="posts__cat">
                                                                        <span class="label posts__cat-label posts__cat-label--category-{{news.news_type.category}} category-{{news.news_type.css_name}}">{{news.news_type}}</span>
                                                                    </div>
                                                                    <a href="{{news.get_absolute_url}}">
                                                                        <img width="380" height="270" src="{% if news.image %}/media/{{news.image}}{% else %}{{news.image_url}}{% endif %}" class="attachment-alchemists_thumbnail size-alchemists_thumbnail wp-post-image">
                                                                    </a>
                                                                </figure>

                                                                <div class="posts__inner card__content">
                                                                    <time class="posts__date">{{news.added|date:"F j, Y"}}</time>
                                                                    <h2 class="posts__title">
                                                                        <a href="{{news.get_absolute_url}}" rel="bookmark">{{news.title}}</a>
                                                                    </h2>
                                                                    <div class="posts__excerpt">{{news.excerpt|truncatechars:200}}</div>
                                                                </div>

                                                                <footer class="posts__footer card__footer">
                                                                    <div class="post-author">
                                                                        <figure class="post-author__avatar">
                                                                            <img src="/media/{{news.author.profile_pic}}" height="24" width="24">
                                                                        </figure>
                                                                        <div class="post-author__info">
                                                                            <h4 class="post-author__name">{{news.author.name_display}}</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="post__meta meta">
                                                                        <div class="meta__item meta__item--views">{{news.views}}</div>
                                                                        <div class="meta__item meta__item--likes ">
                                                                            <a {% if logged_user %}href="{% url 'like' logged_user.id news.id %}"{% endif %} class="sl-button" title="Like">
                                                                                <span class="sl-icon">
                                                                                    <i class="meta-like icon-heart" {% if logged_user and logged_user in news.liked.all %}style="color: red"{% endif %}></i>
                                                                                </span>
                                                                                <span class="sl-count">{{news.num_likes}}</span>
                                                                            </a>
                                                                            <span class="sl-loader"></span>
                                                                        </div>
                                                                        <div class="meta__item meta__item--comments">
                                                                            <a href="">{{news.comment_set.count}}</a>
                                                                        </div>
                                                                    </div>
                                                                </footer>
                                                            </div>
                                                        </article>
                                                        {% endfor %}

                                                    </div>
                                                    <!-- .posts -->
                                                </div>
                                            </div>
                                            <!-- Post Loop / End -->

                                        </div>
                                    </div>
                                </div>

                                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_widgetised_column wpb_content_element">
                                                <div class="wpb_wrapper">

                                                    {% if upcoming_match %}{% include 'includes/widgets/match_countdown.html' %}{% endif %}
                                                    
                                                    {% include 'includes/widgets/scoreboard.html' %}

                                                    {% include 'includes/widgets/social_media.html' %}

                                                    <!-- include 'includes/widgets/popular_news.html' -->

                                                    <!-- include 'includes/widgets/featured_player.html' -->

                                                    {% if last_match %}{% include 'includes/widgets/game_result_small.html' %}{% endif %}

                                                    <!-- include 'includes/widgets/tabbed_news.html' -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .entry-content -->
                    </div>
                    <!-- #post-## -->
                </main>
                <!-- #main -->
            </div>
        <!-- #primary -->
        </div>
    </div>
</div>

{% endblock %}