{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load custom_calculations %}

<title>{{match.competition}}, {{match.match_title}} - 
    {% if match.at_home == True %}{{bayern.short_name}} vs {{match.opponent.short_name}}
    {%else%}{{match.opponent.short_name}} vs {{bayern.short_name}}{%endif%}</title>
<!-- Page Heading
================================================== -->
<div class="page-heading 1" style="background-image: url(/media/{{match.banner}});">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 offset-lg-1">
                <h1 class='page-heading__title'>- {{bayern.full_name}} vs {{match.opponent}} -</h1>
                
            </div>

        </div>
    </div>
</div>

<div class="site-content " id="content">
    <div class="container">
        <div class="row">

            <div id="primary" class="content-area col-lg-8">

                <div class="sp-section-content sp-section-content-logos">
                    <div class="card">
                        <div class="card__header"><h4>Statistics</h4></div>
                        <div class="card__content">

                            <!-- Game Result -->
                            <div class="game-result">

                                <section class="game-result__section pt-0">
                                    <header class="game-result__header game-result__header--alt">

                                        <span class="game-result__league">
                                            {{match.competition}}, {{match.match_title}}
                                        </span>

                                        <h3 class="game-result__title"><span>{{match.venue}}</span></h3>

                                        <time class="game-result__date">{{match.time|date:"F j, Y"}}
                                            <span class="event-time-status event-time-status--has-divider">{{match.time|date:"g:i A"}}</span>
                                            <meta itemprop="eventStatus" content="http://schema.org/EventScheduled">
                                        </time>


                                    </header>

                                    <!-- Team Logos + Game Result -->
                                    <div class="game-result__content">
                                        <div class="game-result__team game-result__team--odd">
                                        {% if match.at_home == True %}
                                            <figure class="game-result__team-logo"><img width="100" height="100"
                                                src="{% static 'images/logo.png' %}" class="attachment-alchemists_team-logo-fit size-alchemists_team-logo-fit wp-post-image">
                                            </figure>
                                            <div class="game-result__team-info" itemprop="performer" itemscope itemtype="http://schema.org/Organization">
                                                <h5 class="game-result__team-name" itemprop="name">{{bayern.full_name}}</h5>
                                                <div class="game-result__team-desc">{{bayern.manager}}</div>
                                            </div>
                                        {% else %}
                                            <figure class="game-result__team-logo"><img width="100" height="100"
                                                src="/media/{{match.opponent.logo}}" class="attachment-alchemists_team-logo-fit size-alchemists_team-logo-fit wp-post-image">
                                            </figure>
                                            <div class="game-result__team-info" itemprop="performer" itemscope itemtype="http://schema.org/Organization">
                                                <h5 class="game-result__team-name" itemprop="name">{{match.opponent}}</h5>
                                                <div class="game-result__team-desc">{{match.opponent.manager}}</div>
                                            </div>
                                        {% endif %}
                                        </div>
                                        <div class="game-result__team game-result__team--even">
                                        {% if match.at_home == True %}
                                            <figure class="game-result__team-logo"><img width="100" height="100" src="/media/{{match.opponent.logo}}" alt=""
                                                class="attachment-alchemists_team-logo-fit size-alchemists_team-logo-fit wp-post-image" loading="lazy">
                                            </figure>
                                            <div class="game-result__team-info" itemprop="performer" itemscope itemtype="http://schema.org/Organization">
                                                <h5 class="game-result__team-name" itemprop="name">{{match.opponent}}</h5>
                                                <div class="game-result__team-desc">{{match.opponent.manager}}</div>
                                            </div>
                                        {% else %}
                                            <figure class="game-result__team-logo"><img width="100" height="100" src="{% static 'images/logo.png' %}" alt=""
                                                class="attachment-alchemists_team-logo-fit size-alchemists_team-logo-fit wp-post-image" loading="lazy">
                                            </figure>
                                            <div class="game-result__team-info" itemprop="performer" itemscope itemtype="http://schema.org/Organization">
                                                <h5 class="game-result__team-name" itemprop="name">{{bayern.full_name}}</h5>
                                                <div class="game-result__team-desc">{{bayern.manager}}</div>
                                            </div>
                                        {% endif %}
                                        </div>

                                        <!-- Game Score -->
                                        <div class="game-result__score-wrap">
                                            <div class="game-result__score game-result__score--lg">
                                            {% if match.finished == True %}
                                                {% if match.at_home == True %}
                                                    {% if match.scored > match.conceded %}
                                                        <span class="game-result__score-result game-result__score-result--winner">{{match.scored}}</span>
                                                        <span class="game-result__score-dash">-</span>
                                                        <span class="game-result__score-result game-result__score-result--loser">{{match.conceded}}</span>
                                                    {% elif match.scored == match.conceded %}
                                                        <span class="game-result__score-result game-result__score-result--loser">{{match.scored}}</span>
                                                        <span class="game-result__score-dash">-</span>
                                                        <span class="game-result__score-result game-result__score-result--loser">{{match.conceded}}</span> 
                                                    {% else %}
                                                        <span class="game-result__score-result game-result__score-result--loser">{{match.scored}}</span>
                                                        <span class="game-result__score-dash">-</span>
                                                        <span class="game-result__score-result game-result__score-result--winner">{{match.conceded}}</span>
                                                    {% endif %}
                                                {% else %}
                                                    {% if match.scored > match.conceded %}
                                                        <span class="game-result__score-result game-result__score-result--loser">{{match.conceded}}</span>
                                                        <span class="game-result__score-dash">-</span>
                                                        <span class="game-result__score-result game-result__score-result--winner">{{match.scored}}</span>
                                                    {% elif match.scored == match.conceded %}
                                                        <span class="game-result__score-result game-result__score-result--loser">{{match.conceded}}</span>
                                                        <span class="game-result__score-dash">-</span>
                                                        <span class="game-result__score-result game-result__score-result--loser">{{match.scored}}</span> 
                                                    {% else %}
                                                        <span class="game-result__score-result game-result__score-result--winner">{{match.conceded}}</span>
                                                        <span class="game-result__score-dash">-</span>
                                                        <span class="game-result__score-result game-result__score-result--loser">{{match.scored}}</span>
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                <span class="game-result__score-dash">-</span>
                                            {% endif %}
                                            </div>
                                        </div>
                                        <!-- Game Score / End -->

                                    </div>
                                    <!-- Team Logos + Game Result / End -->
                                </section>

                                {% if match.finished == True %}
                                <div class="spacer"></div>
                                <section class="game-result__section">


                                    <header class="game-result__header game-result__header--alt">
                                        <div class="game-result__header--alt__team">
                                        {% if match.at_home == True %}
                                            {% for goal in match.goalscorers_set.all %}
                                            <span class="game-result__goal">{{goal.name}} - ({{goal.minute}}')
                                                <i class="game-result__icon sp-icon-soccerball" style="color: #ffffff"></i></span>
                                            {% endfor %}
                                        {% else %}
                                            {% for goal in match.opponent_goalscorers_set.all %}
                                            <span class="game-result__goal">{{goal.name}} - ({{goal.minute}}')
                                                <i class="game-result__icon sp-icon-soccerball" style="color: #ffffff"></i></span>
                                            {% endfor %}
                                        {% endif %}
                                        </div>
                                        <div class="game-result__header--alt__team">
                                        {% if match.at_home == True %}
                                            {% for goal in match.opponent_goalscorers_set.all %}
                                            <span class="game-result__goal">{{goal.name}} - ({{goal.minute}}')
                                                <i class="game-result__icon sp-icon-soccerball" style="color: #ffffff"></i></span>
                                            {% endfor %}
                                        {% else %}
                                            {% for goal in match.goalscorers_set.all %}
                                            <span class="game-result__goal">{{goal.name}} - ({{goal.minute}}')
                                                <i class="game-result__icon sp-icon-soccerball" style="color: #ffffff"></i></span>
                                            {% endfor %}
                                        {% endif %}
                                        </div>
                                    </header>


                                  


                                    <!-- Game Stats -->
                                    <div class="game-result__stats">
                                        <div class="row">
                                            <div class="col-12 col-lg-6 order-lg-2 game-result__stats-scoreboard">
                                                <div class="game-result__table-stats game-result__table-stats--soccer">
                                                    <div class="table-responsive">
                                                        <table class="table table-wrap-bordered table-thead-color">
                                                            <thead>
                                                                <tr><th colspan="3">Game Statistics</th></tr>
                                                            </thead>
                                                            <tbody>
                                                                {% if match.at_home == True %}
                                                                <tr><td>{{match.shots}}</td><td>Shots</td><td>{{match.shots_opp}}</td></tr>
                                                                <tr><td>{{match.shots_target}}</td><td>Shots on Goal</td><td>{{match.shots_target_opp}}</td></tr>
                                                                <tr><td>{{match.corners}}</td><td>Corner Kick</td><td>{{match.corners_opp}}</td></tr>
                                                                <tr><td>{{match.yellows}}</td><td>Yellow cards</td><td>{{match.yellows_opp}}</td></tr>
                                                                <tr><td>{{match.reds}}</td><td>Red cards</td><td>{{match.reds_opp}}</td></tr>
                                                                <tr><td>{{match.saves}}</td><td>Saves</td><td>{{match.saves_opp}}</td></tr>
                                                                {% else %}
                                                                <tr><td>{{match.shots_opp}}</td><td>Shots</td><td>{{match.shots}}</td></tr>
                                                                <tr><td>{{match.shots_target_opp}}</td><td>Shots on Goal</td><td>{{match.shots_target}}</td></tr>
                                                                <tr><td>{{match.corners_opp}}</td><td>Corner Kick</td><td>{{match.corners}}</td></tr>
                                                                <tr><td>{{match.yellows_opp}}</td><td>Yellow cards</td><td>{{match.yellows}}</td></tr>
                                                                <tr><td>{{match.reds_opp}}</td><td>Red cards</td><td>{{match.reds}}</td></tr>
                                                                <tr><td>{{match.saves_opp}}</td><td>Saves</td><td>{{match.saves}}</td></tr>
                                                                {% endif %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                            <div class="col-6 col-lg-3 order-lg-1 game-result__stats-team-1">
                                                <div class="row">
                                                    {% if match.at_home == True %}
                                                    <div class="col-6">
                                                        <div class="circular circular--size-70">
                                                            <div class="circular__bar" data-percent="{{match.pass_acc}}" data-bar-color="rgb(220, 5, 45)">
                                                                <span class="circular__percents">{{match.pass_acc}}<small>%</small></span>
                                                            </div>
                                                            <span class="circular__label">Pass Accuracy</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="circular circular--size-70">
                                                            <div class="circular__bar" data-percent="{{match.shot_acc}}" data-bar-color="rgb(220, 5, 45)">
                                                                <span class="circular__percents">{{match.shot_acc}}<small>%</small></span>
                                                            </div>
                                                            <span class="circular__label">Shot Accuracy</span>
                                                        </div>
                                                    </div>
                                                    {% else %}
                                                    <div class="col-6">
                                                        <div class="circular circular--size-70">
                                                            <div class="circular__bar" data-percent="{{match.pass_acc_opp}}" data-bar-color="{{match.opponent.color}}">
                                                                <span class="circular__percents">{{match.pass_acc_opp}}<small>%</small></span>
                                                            </div>
                                                            <span class="circular__label">Pass Accuracy</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="circular circular--size-70">
                                                            <div class="circular__bar" data-percent="{{match.shot_acc_opp}}" data-bar-color="{{match.opponent.color}}">
                                                                <span class="circular__percents">{{match.shot_acc_opp}}<small>%</small></span>
                                                            </div>
                                                            <span class="circular__label">Shot Accuracy</span>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>



                                                <div class="spacer"></div>
                                                <table class="progress-table progress-table--xs-space progress-table--fullwidth progress-table--bar-fullwidth">
                                                    <tbody>
                                                        {% if match.at_home == True %}
                                                        <tr>
                                                            <td class="progress-table__progress-label progress-table__progress-label--highlight"> OFF </td>
                                                            <td class="progress-table__progress-bar">
                                                                <div class="progress">
                                                                    <div class="progress__bar" style="width: {% avg_percent match.offsides match.offsides_opp %}%; background-color: rgb(220, 5, 45)"
                                                                        role="progressbar" aria-valuenow="{% avg_percent match.offsides match.offsides_opp %}" aria-valuemin="0" aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="progress-table__progress-label font-weight-normal"> {{ match.offsides }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="progress-table__progress-label progress-table__progress-label--highlight"> F </td>
                                                            <td class="progress-table__progress-bar">
                                                                <div class="progress">
                                                                    <div class="progress__bar" style="width: {% avg_percent match.fouls match.fouls_opp %}%; background-color: rgb(220, 5, 45)"
                                                                        role="progressbar" aria-valuenow="{% avg_percent match.fouls match.fouls_opp %}" aria-valuemin="0" aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="progress-table__progress-label font-weight-normal"> {{ match.fouls }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="progress-table__progress-label progress-table__progress-label--highlight"> SH </td>
                                                            <td class="progress-table__progress-bar">
                                                                <div class="progress">
                                                                    <div class="progress__bar" style="width: {% avg_percent match.shots match.shots_opp %}%; background-color: rgb(220, 5, 45)"
                                                                        role="progressbar" aria-valuenow="{% avg_percent match.shots match.shots_opp %}" aria-valuemin="0" aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="progress-table__progress-label font-weight-normal"> {{ match.shots }} </td>
                                                        </tr>
                                                        {% else %}
                                                        <tr>
                                                            <td class="progress-table__progress-label progress-table__progress-label--highlight"> OFF </td>
                                                            <td class="progress-table__progress-bar">
                                                                <div class="progress">
                                                                    <div class="progress__bar" style="width: {% avg_percent match.offsides_opp match.offsides %}%; background-color: {{match.opponent.color}}"
                                                                        role="progressbar" aria-valuenow="{% avg_percent match.offsides_opp match.offsides %}" aria-valuemin="0" aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="progress-table__progress-label font-weight-normal"> {{ match.offsides_opp }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="progress-table__progress-label progress-table__progress-label--highlight"> F </td>
                                                            <td class="progress-table__progress-bar">
                                                                <div class="progress">
                                                                    <div class="progress__bar" style="width: {% avg_percent match.fouls_opp match.fouls %}%; background-color: {{match.opponent.color}}"
                                                                        role="progressbar" aria-valuenow="{% avg_percent match.fouls_opp match.fouls %}" aria-valuemin="0" aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="progress-table__progress-label font-weight-normal"> {{ match.fouls_opp }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="progress-table__progress-label progress-table__progress-label--highlight"> SH </td>
                                                            <td class="progress-table__progress-bar">
                                                                <div class="progress">
                                                                    <div class="progress__bar" style="width: {% avg_percent match.shots_opp match.shots %}%; background-color: {{match.opponent.color}}"
                                                                        role="progressbar" aria-valuenow="{% avg_percent match.shots_opp match.shots %}" aria-valuemin="0" aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="progress-table__progress-label font-weight-normal"> {{ match.shots_opp }} </td>
                                                        </tr>
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>


                                            <div class="col-6 col-lg-3 order-lg-3 game-result__stats-team-2">
                                                <div class="row">
                                                    {% if match.at_home == True %}
                                                    <div class="col-6">
                                                        <div class="circular circular--size-70">
                                                            <div class="circular__bar" data-percent="{{match.pass_acc_opp}}" data-bar-color="{{match.opponent.color}}">
                                                                <span class="circular__percents">{{match.pass_acc_opp}}<small>%</small></span>
                                                            </div>
                                                            <span class="circular__label">Pass Accuracy</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="circular circular--size-70">
                                                            <div class="circular__bar" data-percent="{{match.shot_acc_opp}}" data-bar-color="{{match.opponent.color}}">
                                                                <span class="circular__percents">{{match.shot_acc_opp}}<small>%</small></span>
                                                            </div>
                                                            <span class="circular__label">Shot Accuracy</span>
                                                        </div>
                                                    </div>
                                                    {% else %}
                                                    <div class="col-6">
                                                        <div class="circular circular--size-70">
                                                            <div class="circular__bar" data-percent="{{match.pass_acc}}" data-bar-color="rgb(220, 5, 45)">
                                                                <span class="circular__percents">{{match.pass_acc}}<small>%</small></span>
                                                            </div>
                                                            <span class="circular__label">Pass Accuracy</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="circular circular--size-70">
                                                            <div class="circular__bar" data-percent="{{match.shot_acc}}" data-bar-color="rgb(220, 5, 45)">
                                                                <span class="circular__percents">{{match.shot_acc}}<small>%</small></span>
                                                            </div>
                                                            <span class="circular__label">Shot Accuracy</span>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>


                                                <div class="spacer"></div>
                                                <table class="progress-table progress-table--xs-space progress-table--fullwidth progress-table--bar-fullwidth">
                                                    <tbody>
                                                        {% if match.at_home == True %}
                                                        <tr>
                                                            <td class="progress-table__progress-label font-weight-normal"> {{ match.offsides_opp }} </td>
                                                            <td class="progress-table__progress-bar progress-table__progress-bar--inverse">
                                                                <div class="progress">
                                                                    <div class="progress__bar progress__bar--success" style="width: {% avg_percent match.offsides_opp match.offsides %}%; background-color: {{match.opponent.color}}"
                                                                        role="progressbar" aria-valuenow="{% avg_percent match.offsides_opp match.offsides %}" aria-valuemin="0" aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="progress-table__progress-label progress-table__progress-label--highlight"> OFF </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="progress-table__progress-label font-weight-normal"> {{ match.fouls_opp }} </td>
                                                            <td class="progress-table__progress-bar progress-table__progress-bar--inverse">
                                                                <div class="progress">
                                                                    <div class="progress__bar progress__bar--success" style="width: {% avg_percent match.fouls_opp match.fouls %}%; background-color: {{match.opponent.color}}"
                                                                        role="progressbar" aria-valuenow="{% avg_percent match.fouls_opp match.fouls %}" aria-valuemin="0" aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="progress-table__progress-label progress-table__progress-label--highlight"> F </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="progress-table__progress-label font-weight-normal"> {{ match.shots_opp }} </td>
                                                            <td class="progress-table__progress-bar progress-table__progress-bar--inverse">
                                                                <div class="progress">
                                                                    <div class="progress__bar progress__bar--success" style="width: {% avg_percent match.shots_opp match.shots %}%; background-color: {{match.opponent.color}}"
                                                                        role="progressbar" aria-valuenow="{% avg_percent match.shots_opp match.shots %}" aria-valuemin="0" aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="progress-table__progress-label progress-table__progress-label--highlight"> SH </td>
                                                        </tr>
                                                        {% else %}
                                                        <tr>
                                                            <td class="progress-table__progress-label font-weight-normal"> {{ match.offsides }} </td>
                                                            <td class="progress-table__progress-bar progress-table__progress-bar--inverse">
                                                                <div class="progress">
                                                                    <div class="progress__bar progress__bar--success" style="width: {% avg_percent match.offsides match.offsides_opp %}%; background-color: rgb(220, 5, 45)"
                                                                        role="progressbar" aria-valuenow="{% avg_percent match.offsides match.offsides_opp %}" aria-valuemin="0" aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="progress-table__progress-label progress-table__progress-label--highlight"> OFF </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="progress-table__progress-label font-weight-normal"> {{ match.fouls}} </td>
                                                            <td class="progress-table__progress-bar progress-table__progress-bar--inverse">
                                                                <div class="progress">
                                                                    <div class="progress__bar progress__bar--success" style="width: {% avg_percent match.fouls match.fouls_opp %}%; background-color: rgb(220, 5, 45)"
                                                                        role="progressbar" aria-valuenow="{% avg_percent match.fouls match.fouls_opp %}" aria-valuemin="0" aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="progress-table__progress-label progress-table__progress-label--highlight"> F </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="progress-table__progress-label font-weight-normal"> {{ match.shots }} </td>
                                                            <td class="progress-table__progress-bar progress-table__progress-bar--inverse">
                                                                <div class="progress">
                                                                    <div class="progress__bar progress__bar--success" style="width: {% avg_percent match.shots match.shots_opp %}%; background-color: rgb(220, 5, 45)"
                                                                        role="progressbar" aria-valuenow="{% avg_percent match.shots match.shots_opp %}" aria-valuemin="0" aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="progress-table__progress-label progress-table__progress-label--highlight"> SH </td>
                                                        </tr>
                                                        {% endif %}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Game Stats / End -->

                                </section>

                                <!-- Ball Possession -->
                                <section class="game-result__section">
                                    <header class="game-result__subheader card__subheader">
                                        <h5 class="game-result__subtitle">Ball Possession</h5>
                                    </header>
                                    <div class="game-result__content">

                                        <!-- Progress: Ball Possession -->
                                        <div class="progress-double-wrapper">
                                            <div class="spacer-sm"></div>
                                            <div class="progress-inner-holder">
                                                {% if match.at_home == True %}
                                                <div class="progress__digit progress__digit--left progress__digit--highlight"> {{ match.possession }}%</div>
                                                <div class="progress__double">
                                                    <div class="progress progress--lg" style="background-color:{{match.opponent.color}}">
                                                        <div class="progress__bar" role="progressbar" aria-valuenow="{{ match.possession }}" aria-valuemin="0"
                                                            aria-valuemax="100" style="width: {{ match.possession }}%; background-color: rgb(220, 5, 45)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress__digit progress__digit--right progress__digit--highlight"> {% get_other_possession match.possession %}%</div>
                                                {% else %}
                                                <div class="progress__digit progress__digit--left progress__digit--highlight"> {% get_other_possession match.possession %}%</div>
                                                <div class="progress__double">
                                                    <div class="progress progress--lg" style="background-color:rgb(220, 5, 45)">
                                                        <div class="progress__bar" role="progressbar" aria-valuenow="{% get_other_possession match.possession %}" aria-valuemin="0"
                                                            aria-valuemax="100" style="width: {% get_other_possession match.possession %}%; background-color: {{match.opponent.color}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress__digit progress__digit--right progress__digit--highlight"> {{ match.possession }}%</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- Progress: Ball Possession / End -->
                                    </div>

                                </section>
                                <!-- Ball Possession / End -->

                                <!-- Game Timeline -->
                                <section class="game-result__section">
                                    <header class="game-result__subheader card__subheader">
                                        <h5 class="game-result__subtitle">Game Timeline</h5>
                                    </header>
                                    <div class="game-result__content game-result__content--block game-result__content--visible mb-0">

                                        <!-- Timeline -->
                                        <div class="game-timeline-wrapper game-timeline-wrapper--horizontal">

                                            <div class="game-timeline-teams">
                                                <div class="game-timeline__event game-timeline__event--kickoff game-timeline__event--side-away" title="Kick Off">

                                                    {% if match.at_home == True %}
                                                    <span class="game-timeline__team-logo" title="{{match.opponent}}"><img width="125" height="125" src="/media/{{match.opponent.logo}}"
                                                        class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" loading="lazy"></span>
                                                    {% else %}
                                                    <span class="game-timeline__team-logo" title="FC_Bayern"><img width="125" height="125" src="{% static 'images/logo.png' %}"
                                                        class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" loading="lazy"></span>
                                                    {% endif %}

                                                    <div class="game-timeline__time game-timeline__time--kickoff game-timeline__time--kickoff-away">KO</div>
                                                </div>
                                                <div class="game-timeline__event game-timeline__event--kickoff game-timeline__event--side-home" title="Kick Off">

                                                    {% if match.at_home == True %}
                                                    <span class="game-timeline__team-logo" title="FC_Bayern"><img width="125" height="125" src="{% static 'images/logo.png' %}"
                                                        class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" loading="lazy"></span>
                                                    {% else %}
                                                    <span class="game-timeline__team-logo" title="{{match.opponent}}"><img width="125" height="125" src="/media/{{match.opponent.logo}}"
                                                        class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" loading="lazy"></span>
                                                    {% endif %}

                                                    <div class="game-timeline__time game-timeline__time--kickoff game-timeline__time--kickoff-home">KO</div>
                                                </div>
                                            </div>
                                           

                                            <div class="game-timeline">
                                            {% for event in events %}
                                            {% if match.at_home == True %}
                                                {% if event.is_bayern_player == True %}
                                                
                                                <div class="game-timeline__event game-timeline__event--side-home" style="left: {{event.minute}}%;">
                                                    <div class="game-timeline__event-info game-timeline__event-info--side-home">
                                                        <div class="game-timeline__event-name">{{event.who}}</div>
                                                        <div class="game-timeline__icon game-timeline__icon--home">
                                                        {% if event.name.name == "Yellow Card" %}
                                                            <i class="sp-icon-card" title="Yellow Card" style="color:#f4d014 !important"></i>
                                                        {% elif event.name.name == 'Red Card' %}
                                                            <i class="sp-icon-card" title="Red Card" style="color:#d4000f !important"></i>
                                                        {% elif event.name.name == 'Goal' %}
                                                            <i class="sp-icon-soccerball" title="Goal" style="color:#ffffff !important"></i>
                                                        {% else %}
                                                            <i class="sp-icon-sub" title="Substitution"></i>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="game-timeline__time" data-toggle="tooltip" data-placement="top" title="{{event.who}}">{{event.minute}}'</div>
                                                </div>
                                                {% else %}
                                                <div class="game-timeline__event game-timeline__event--side-away" style="left: {{event.minute}}%;">
                                                    <div class="game-timeline__event-info game-timeline__event-info--side-away">
                                                        <div class="game-timeline__event-name">{{event.who}}</div>
                                                        <div class="game-timeline__icon game-timeline__icon--away">
                                                        {% if event.name.name == 'Yellow Card' %}
                                                            <i class="sp-icon-card" title="Yellow Card" style="color:#f4d014 !important"></i>
                                                        {% elif event.name.name == 'Red Card' %}
                                                            <i class="sp-icon-card" title="Red Card" style="color:#d4000f !important"></i>
                                                        {% elif event.name.name == 'Goal' %}
                                                            <i class="sp-icon-soccerball" title="Goal" style="color:#ffffff !important"></i>
                                                        {% else %}
                                                            <i class="sp-icon-sub" title="Substitution"></i>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="game-timeline__time" data-toggle="tooltip" data-placement="top" title="{{event.who}}">{{event.minute}}'</div>
                                                </div>
                                                {% endif %}

                                            {% else %}
                                                {% if event.is_bayern_player == True %}
                                                
                                                <div class="game-timeline__event game-timeline__event--side-away" style="left: {{event.minute}}%;">
                                                    <div class="game-timeline__event-info game-timeline__event-info--side-away">
                                                        <div class="game-timeline__event-name">{{event.who}}</div>
                                                        <div class="game-timeline__icon game-timeline__icon--away">
                                                        {% if event.name.name == "Yellow Card" %}
                                                            <i class="sp-icon-card" title="Yellow Card" style="color:#f4d014 !important"></i>
                                                        {% elif event.name.name == 'Red Card' %}
                                                            <i class="sp-icon-card" title="Red Card" style="color:#d4000f !important"></i>
                                                        {% elif event.name.name == 'Goal' %}
                                                            <i class="sp-icon-soccerball" title="Goal" style="color:#ffffff !important"></i>
                                                        {% else %}
                                                            <i class="sp-icon-sub" title="Substitution"></i>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="game-timeline__time" data-toggle="tooltip" data-placement="top" title="{{event.who}}">{{event.minute}}'</div>
                                                </div>
                                                {% else %}
                                                <div class="game-timeline__event game-timeline__event--side-home" style="left: {{event.minute}}%;">
                                                    <div class="game-timeline__event-info game-timeline__event-info--side-home">
                                                        <div class="game-timeline__event-name">{{event.who}}</div>
                                                        <div class="game-timeline__icon game-timeline__icon--home">
                                                        {% if event.name.name == 'Yellow Card' %}
                                                            <i class="sp-icon-card" title="Yellow Card" style="color:#f4d014 !important"></i>
                                                        {% elif event.name.name == 'Red Card' %}
                                                            <i class="sp-icon-card" title="Red Card" style="color:#d4000f !important"></i>
                                                        {% elif event.name.name == 'Goal' %}
                                                            <i class="sp-icon-soccerball" title="Goal" style="color:#ffffff !important"></i>
                                                        {% else %}
                                                            <i class="sp-icon-sub" title="Substitution"></i>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="game-timeline__time" data-toggle="tooltip" data-placement="top" title="{{event.who}}">{{event.minute}}'</div>
                                                </div>
                                                {% endif %}

                                            {% endif %}
                                            {% endfor %}
                                            </div>

                                            <div class="game-timeline-ft">
                                                <div class="game-timeline__event game-timeline__event--ft" title="Full Time">
                                                    <div class="game-timeline__time">FT</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Timeline / End -->

                                        <div class="spacer-sm"></div>
                                        <div class="game-result__section-decor"></div>
                                    </div>
                                </section>
                                {% endif %}

                                {% if match.booking_open == True %}
                                <div class="main-news-banner__inner" style="background: linear-gradient(87.03deg, rgb(118, 35, 47) 5.27%, rgb(220, 5, 45) 97.41%);padding: 20px 20px 18px 25px;border-radius: 4px">
                                    <div class="posts posts--simple-list posts--simple-list--xlg">
                                        <div class="posts__item post type-post status-publish format-standard has-post-thumbnail hentry">
                                            <div class="posts__inner">
                                
                                                <h6 class="posts__title">Ticket Booking is Open!</h6>
                                                <div class="posts__excerpt">Want to watch the game alongside the fans? Book your tickets now!</div>
                                                <div class="posts__more" style="padding-top: 16px">
                                                    <a href="{% url 'book' match.slug %}" class="btn btn-inverse btn-sm btn-outline btn-icon-right btn-condensed"
                                                    style="background-color: #f3f3f3;color: rgb(198, 4, 40);border: none;border-radius: 3px">
                                                        Book Tickets
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <!-- Game Result / End -->
                        </div>
                    </div>
                </div>
                {% if match.summary %}
                <div class="sp-section-content sp-section-content-excerpt"></div>
                <div class="sp-section-content sp-section-content-content">
                    <div class="sp-post-content">
                        <h3 class="sp-post-caption">Summary</h3>
                        <p>{{match.summary}}</p>
                    </div>
                </div>
                {% endif %}

                {% if match.video_url %}
                <div class="sp-section-content sp-section-content-video">
                    <div class="card card--no-paddings sp-template sp-template-event-video sp-event-video">
                        <div class="card__header">
                            <h4 class="sp-table-caption">Highlights</h4>
                        </div>
                        <div class="card__content text-center">
                            <div class="alc-embeded-player alc-embeded-player--container">
                                <iframe width="640" height="360" src="{{match.video_url}}" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            
            </div><!-- #primary -->


            <aside id="secondary" class="sidebar widget-area col-lg-4">
                
                {% if related_news.count > 0 %}
                    {% include 'includes/widgets/related_news.html' %}
                {% endif %}

                {% if all_tags.count > 0 %}
                    {% include 'includes/widgets/tag_cloud.html' %}
                {% endif %}

                {% include 'includes/widgets/single_advert.html' %}

            </aside><!-- #secondary -->

        </div>
    </div>
</div>


{% endblock %}