{% extends 'base.html' %}
{% block content %}
{% load static %}

<title>News - FC Bayern</title>
<div class="page-heading page-heading--has-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2 style="text-shadow: 2px 2px 2px black;font-size: 28px">News: <span style="color:#C2FF1F">Tag: </span><span style="color:rgb(198, 4, 40)">World Cup</span></h2>
            </div>
        </div>
    </div>
</div>


<div class="site-content" id="content">
    <div class="container">
        <div class="row">

            <div id="primary" class="content-area col-lg-8">
                <main id="main" class="site-main">

                    <div class="posts posts--cards posts--cards-thumb-left post-list">

                        {% for news in all_news %}
                        <article id="snk-post-{{forloop.counter}}"
                            class="post-list__item posts__item posts__item--card card card--block posts__item--category-{{news.news_type.category}} post type-post status-publish format-standard has-post-thumbnail hentry category-{{news.news_type.css_name}}">

                            <figure class="posts__thumb">
                                <a href="{{news.get_absolute_url}}">
                                    <img style="width:100%;height:342px;object-fit:cover;"
                                        src="{% if news.image %}/media/{{news.image}}{% else %}{{news.image_url}}{% endif %}"
                                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image"> 
                                </a>
                            </figure>

                            <div class="posts__inner">

                                <div class="card__content" style="height: 273px">
                                    <div class="posts__cat">
                                        <span class="label posts__cat-label posts__cat-label--category-{{news.news_type.category}} category-{{news.news_type.css_name}}">{{news.news_type}}</span>
                                    </div>
                                    <h4 class="posts__title">
                                        <a href="{{news.get_absolute_url}}" rel="bookmark">{{news.title}}</a>
                                    </h4>
                                    <time class="posts__date">{{news.added|date:"F j, Y"}}</time>
                                    <div class="posts__excerpt">{{news.excerpt|truncatechars:150}}
                                    </div>
                                </div>

                                <footer class="posts__footer card__footer">
                                    <div class="post-author">
                                        <figure class="post-author__avatar">
                                            <img src="/media/{{news.author.profile_pic}}" class='avatar avatar-24 photo' height='24' width='24'>
                                        </figure>
                                        <div class="post-author__info">
                                            <h4 class="post-author__name">{{news.author}}</h4>
                                        </div>
                                    </div>
                                    <div class="post__meta meta">
                                        <div class="meta__item meta__item--views">{{news.views}}</div>
                                        <div class="meta__item meta__item--likes ">
                                            <a {% if logged_user %}href="{% url 'like' logged_user.id news.id %}"{% endif %} class="sl-button" title="Like">
                                                <span class="sl-icon">
                                                    <i class="meta-like icon-heart" {% if logged_user and logged_user in news.liked.all %}style="color: red"{% endif %}></i>
                                                </span>
                                                <span class="sl-count">{{news.num_likes}}</span>
                                            </a>
                                            <span class="sl-loader"></span>
                                        </div>
                                        <div class="meta__item meta__item--comments"><a>{{news.comment_set.count}}</a></div>
                                    </div>
                                </footer>

                            </div>
                        </article><!-- #post-## -->
                        {% endfor %}

                    </div><!-- .posts -->

                    <nav class="post-pagination">
                        <ul class="pagination justify-content-center pagination--condensed pagination--lg">
                            <li class="snk-prev-page" style="display:none"><a><i class="fa fa-angle-left"></i></a></li>
                            <li class="pagination-toggle active" id="snk-page-no-1"><a>1</a></li>
                            {% if pages_count > 0 %}
                                {% for item in "x"|ljust:pages_count %}
                                    <li class="pagination-toggle " id="snk-page-no-{{forloop.counter|add:1}}"><a>{{forloop.counter|add:1}}</a></li>
                                {% endfor %}
                                <li class="snk-next-page"><a><i class="fa fa-angle-right"></i></a></li>
                                
                            {% endif %}
                            
                        </ul>
                    </nav>

                </main><!-- #main -->
            </div><!-- #primary -->


        </div>
    </div>
</div>


<script src="{% static 'js/all_news_pagination.js' %}" id="news_pagination-js" defer></script>

{% endblock %}