{% extends 'base.html' %}
{% block content %}
{% load static %}

<title>News - {{post.title|truncatechars:40}}</title>
<div class="site-content" id="content">
<div class="container">
    <div class="row">

        <style>
            .post__content img{
                max-width:100%;
                max-height:380px;
            }

        </style>
        <div id="primary" class="content-area col-lg-8">

            <!-- Article -->
            <article id="post-87" class="card post post--single posts__item--category-{{post.news_type.category}} card--lg post-87 type-post status-publish format-standard has-post-thumbnail hentry category-{{post.news_type.css_name}}">
                <figure class="post__thumbnail">
                    <img width="773" height="380" src="{% if post.image %}/media/{{post.image}}{% else %}{{post.image_url}}{% endif %}" class="attachment-alchemists_thumbnail-lg size-alchemists_thumbnail-lg wp-post-image">
                </figure>

                <div class="card__content">
                    <div class="post__category">
                        <span class="label posts__cat-label posts__cat-label--category-{{post.news_type.category}} category-{{post.news_type.css_name}}">{{post.news_type}}</span>
                    </div>
                    <header class="post__header">
                        <h1 class='post__title'>{{post.title}}</h1>
                        <div class="post__meta meta ">
                            <div class="meta__item meta__item--date">
                                <time class="posts__date">{{post.added|date:"F j, Y"}}</time>
                            </div>
                            <div class="meta__item meta__item--views js-meta__item--views-count">{{post.views}}</div>
                            <div class="meta__item meta__item--likes ">
                                <a href="" class="sl-button sl-button-87" title="Like">
                                    <span class="sl-icon"><i class="meta-like icon-heart"></i></span>
                                    <span class="sl-count">96</span>
                                </a>
                                <span class="sl-loader"></span>
                            </div>
                            <div class="meta__item meta__item--comments"><a href="">{{comment_count}}</a>
                            </div>
                        </div>
                    </header>

                    <div class="post__content">

                        {{post.post_content|safe}}
                    </div>

                </div>
            </article>

            <div class="post-sharing">


                <a target="_blank"
                    onClick="popup = window.open('https://www.facebook.com/sharer.php?u=https%3A%2F%2Fsoccer-dark-alc.dan-fisher.dev%2Fthe-alchemists-need-two-win-the-next-two-games%2F', 'PopupPage', 'height=450,width=500,scrollbars=yes,resizable=yes'); return false"
                    href="#" class="btn btn-default btn-facebook btn-icon btn-block" rel="nofollow"><i
                        class="fa fa-facebook"></i> <span class="post-sharing__label hidden-xs">Share on
                        Facebook</span></a>


                <a target="_blank"
                    onClick="popup = window.open('https://twitter.com/intent/tweet?text=The+Alchemists+need+two+win+the+next+two+games&amp;url=https%3A%2F%2Fsoccer-dark-alc.dan-fisher.dev%2Fthe-alchemists-need-two-win-the-next-two-games%2F', 'PopupPage', 'height=450,width=500,scrollbars=yes,resizable=yes'); return false"
                    href="#" class="btn btn-default btn-twitter btn-icon btn-block" rel="nofollow"><i
                        class="fa fa-twitter"></i> <span class="post-sharing__label hidden-xs">Share on
                        Twitter</span></a>


            </div>

            <!-- Post Author -->
            <div class="post-author card card--lg">
                <div class="card__content">

                    <header class="post-author__header">
                        <figure class="post-author__avatar">
                            <img src="/media/{{post.author.profile_pic}}" class='avatar avatar-60 photo' height='60' width='60' loading='lazy' />
                        </figure>

                        <div class="post-author__info">
                            <h4 class="post-author__name">{{post.author.name_display}}</h4>
                            {% if post.author.is_staff == True %}<span class="post-author__slogan">admin</span>{% endif %}
                        </div>
                        <ul class="post-author__social-links social-links social-links--btn">
                            <li class="social-links__item">
                                <a href="{{post.author.social_link}}" class="social-links__link social-links__link--mail"><i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                    </header>
                </div>
            </div>
            <!-- Post Author / End -->
            <!-- Next/Prev Posts -->
            <!-- Next/Prev / End -->


            <div id="comments" class="post-comments card card--lg">

                <header class="post-commments__header card__header">
                    <h4>Comments ({{comment_count}})</h4>
                </header><!-- .post-commments__header -->

                <div class="post-comments__content card__content pb-0">

                    <ol class="comments">
                        
                        {% for comment in comments %}
                        <li class="comment byuser comment-author-admin bypostauthor {% cycle 'even' 'odd' %} thread-{% cycle 'even' 'odd' %} depth-1 parent" id="comment-{{forloop.counter}}">
                            <div id="comments__inner-{{forloop.counter}}" class="comments__inner">
                                <header class="comment__header">
                                    <div class="comment__author">
                                        <figure class="comment__author-avatar">
                                            <img src="/media/{{comment.from_user.profile_pic}}" class='avatar avatar-60 photo' height='60' width='60'>
                                        </figure>

                                        <div class="comment__author-info">
                                            <h5 class="comment__author-name" 
                                            {% if comment.from_user.name_display == post.author.name_display %} style="color:rgb(220, 5, 45)"{% endif %}>
                                            {{comment.from_user.name_display}}</h5>
                                            <div class="comment__post-date">{{comment.added|date:"g:i A, M j, Y"}}</div>
                                        </div>
                                    </div>
                                    {% if logged_user %}
                                    <div class="comment__reply" onclick="reply_mode_on({{forloop.counter}})">
                                        <span class="comment__reply-link btn btn-link btn-xs" style="color: rgb(203 217 228 / 78%)">Reply</span>
                                    </div>
                                    {% endif %}
                                </header>

                                <div class="comment__body">
                                    <p>{{comment.text}}</p>
                                </div>
                            </div>
                            {% for reply in comment.comment_set.all %}
                            <ul class="children">
                                <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-4">
    
                                    <div id="comments__inner-4" class="comments__inner">
                                        <header class="comment__header">
                                            <div class="comment__author">
                                                <figure class="comment__author-avatar">
                                                    <img src='/media/{{reply.from_user.profile_pic}}' class='avatar avatar-60 photo' height='60' width='60'>
                                                </figure>
                                                <div class="comment__author-info">
                                                    <h5 class="comment__author-name" {% if reply.from_user.name_display == post.author.name_display %} style="color:rgb(220, 5, 45)"{% endif %}>{{reply.from_user.name_display}}</h5>
                                                    <div class="comment__post-date">{{reply.added|date:"g:i A, M j, Y"}}</div>
                                                </div>
                                            </div>
                                        </header>
                                        <div class="comment__body">
                                            <p>{{reply.text}}</p>
                                        </div>    
                                    </div>
                                </li>
                                
                            </ul>
                            {% endfor %}
                        </li>

                        {% if logged_user %}
                        <div id="respond-{{forloop.counter}}" class="comment-respond">
                            <header class="post-comment-form__header">
                                <h4>Leave a Reply <small>
                                    <a rel="nofollow" id="cancel-comment-reply-link" onclick="reply_mode_off()" style="cursor:pointer">Cancel Reply</a>
                                </small>
                                </h4>
                            </header>
                            
                            <form action="{% url 'save_comment' logged_user.id %}" method="post" id="commentform-{{ forloop.counter }}" class="post-comment-form__content card__content" novalidate="">
                                {% csrf_token %}
                                <p class="logged-in-as">
                                    Logged in as {{ logged_user.username }}. <a href="">Log out?</a>
                                </p>
                                <div class="comment-form-message form-group">
                                    <label class="control-label hidden" for="comment">Your Reply</label>
                                    <textarea id="comment" name="comment_text" cols="30" rows="7" class="form-control" aria-required="true"></textarea>
                                </div>
                                <p class="form-submit">
                                    <input name="submit" type="submit" id="submit" class="btn btn-block btn-lg btn-default" value="Post Your Comment">
                                    <input type="hidden" name="comment_post_ID" value="{{post.id}}" id="comment_post_ID">
                                    <input type="hidden" name="comment_parent" id="comment_parent" value="{{comment.id}}">
                                </p>
                            </form>
                        </div>
                        {% endif %}
                        
                        {% endfor %}
                        
                    </ol><!-- .comments -->

                </div>

            </div><!-- #comments -->

            {% if logged_user %}
            <!-- Comment Form -->
            <div class="post-comment-form card card--lg">
                <div id="respond" class="comment-respond-main">
                    <header class="post-comment-form__header card__header"><h4>Leave a Comment</h4></header>
                    <form action="{% url 'save_comment' logged_user.id %}" method="post" id="main-commentform" class="post-comment-form__content card__content">
                        {% csrf_token %}
                        <p class="logged-in-as">Logged in as {{ logged_user.username }}. <a href="">Log out?</a></p>
                        <div class="comment-form-message form-group">
                            <label class="control-label" for="comment">Your Comment</label>
                            <textarea id="comment" name="comment_text" cols="30" rows="7" class="form-control" aria-required="true"></textarea>
                        </div>
                        <p class="form-submit">
                            <input name="submit" type="submit" id="submit" class="btn btn-block btn-lg btn-default" value="Post Your Comment"> 
                            <input type='hidden' name='comment_post_ID' value="{{post.id}}" id='comment_post_ID'>
                        </p>
                    </form>
                </div><!-- #respond -->
            </div>
            <!-- Comment Form / End -->
            {% endif %}

        </div><!-- #primary -->


        <aside id="secondary" class="sidebar widget-area col-lg-4">

            {% include 'includes/widgets/social_media.html' %}
            
            {% include 'includes/widgets/popular_news.html' %}

            <div id="tag_cloud-1" class="widget widget--sidebar card widget_tag_cloud">
                <div class="widget__content card__content"></div>
                <div class="widget__title card__header"><h4>Tag Cloud</h4></div>
                <div class="widget__content card__content">
                    <div class="tagcloud"><a href="../tag/alchemists/index.html"
                            class="tag-cloud-link tag-link-19 btn btn-primary btn-xs btn-outline btn-sm  tag-link-position-1"
                            aria-label="Alchemists (10 items)">Alchemists</a>
                        <a href="../tag/awards/index.html"
                            class="tag-cloud-link tag-link-21 btn btn-primary btn-xs btn-outline btn-sm  tag-link-position-2"
                            aria-label="awards (2 items)">awards</a>
                        <a href="../tag/coach/index.html"
                            class="tag-cloud-link tag-link-23 btn btn-primary btn-xs btn-outline btn-sm  tag-link-position-3"
                            aria-label="Coach (2 items)">Coach</a>
                        <a href="../tag/injuries/index.html"
                            class="tag-cloud-link tag-link-26 btn btn-primary btn-xs btn-outline btn-sm  tag-link-position-4"
                            aria-label="Injuries (3 items)">Injuries</a>
                        <a href="../tag/playoffs/index.html"
                            class="tag-cloud-link tag-link-29 btn btn-primary btn-xs btn-outline btn-sm  tag-link-position-5"
                            aria-label="Playoffs (5 items)">Playoffs</a>
                        <a href="../tag/stadium/index.html"
                            class="tag-cloud-link tag-link-30 btn btn-primary btn-xs btn-outline btn-sm  tag-link-position-6"
                            aria-label="stadium (6 items)">stadium</a>
                    </div>
                </div>
            </div>
            <div id="media_image-1" class="widget widget--sidebar card widget_media_image">
                <div class="widget__content card__content"></div>
                <div class="widget__title card__header">
                    <h4>Advertisement</h4>
                </div>
                <div class="widget__content card__content"><a href="http://bit.ly/2y4ZKHd"><img width="300"
                            height="250" src="../wp-content/uploads/2018/04/banner.jpg"
                            class="image wp-image-1264  attachment-medium size-medium" alt="" loading="lazy"
                            style="max-width: 100%; height: auto;"
                            srcset="https://soccer-dark-alc.dan-fisher.dev/wp-content/uploads/2018/04/banner.jpg 300w, https://soccer-dark-alc.dan-fisher.dev/wp-content/uploads/2018/04/banner-128x107.jpg 128w, https://soccer-dark-alc.dan-fisher.dev/wp-content/uploads/2018/04/banner-32x27.jpg 32w, https://soccer-dark-alc.dan-fisher.dev/wp-content/uploads/2018/04/banner-70x58.jpg 70w, https://soccer-dark-alc.dan-fisher.dev/wp-content/uploads/2018/04/banner-100x83.jpg 100w"
                            sizes="(max-width: 300px) 100vw, 300px" /></a></div>
            </div>
            
            {% include 'includes/widgets/tabbed_news.html' %}
        </aside><!-- #secondary -->

    </div>
</div>
</div>

<script src="{% static 'js/news_comment.js' %}" id="news_comment-js" defer></script>

{% endblock %}