{% extends 'base.html' %}
{% block content %}
{% load static %}

<title>Login/Register - FC Bayern</title>
<div class="page-heading page-heading--has-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 offset-lg-1">
                <h1 class='page-heading__title'>Login / Register</h1>
                
            </div>

        </div>
    </div>
</div>

<div class="site-content " id="content">
    <div class="container">
        <div class="row">

            <div id="primary" class="content-area col-lg-12">
                <main id="main" class="site-main">

  
                    <div id="post-83" class="post-83 page type-page status-publish hentry">
                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="woocommerce-notices-wrapper">
                                    
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'success' %}
                                            <ul class="woocommerce-info" role="alert">
                                                <li><strong>Success : </strong>{{message}}</li>
                                            </ul>
                                            {% elif message.tags == 'error' %}
                                            <ul class="woocommerce-error" role="alert">
                                                <li><strong>Error : </strong>{{message}}</li>
                                            </ul>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    
                                </div>
                                <div class="row" id="customer_login">

                                    <div class="col-lg-6">

                                        <!-- Login Form -->
                                        <div class="card">
                                            <header class="card__header"><h4>Login to your account</h4></header>
                                            <div class="card__content">
                                                <form class="woocomerce-form woocommerce-form-login login" method="post">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="username">Username or email address&nbsp;<span class="required">*</span></label>
                                                        <input type="text" class="woocommerce-Input woocommerce-Input--text form-control"
                                                            name="username" id="username" autocomplete="username" value="{{rem_user}}" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password">Password&nbsp;<span class="required">*</span></label>
                                                        <input class="woocommerce-Input woocommerce-Input--text form-control"
                                                            type="password" name="password" id="password" autocomplete="current-password" value="{{rem_pword}}" />
                                                    </div>

                                                    <div class="form-group form-group--password-forgot">
                                                        <div class="row justify-content-between">
                                                            <div class="col-sm-5">
                                                                <label class="checkbox checkbox-inline">
                                                                    <input type="checkbox" name="rememberme" type="checkbox" id="rememberme"
                                                                        value="forever" {% if rem_user %}checked{% endif %}> Remember me <span class="checkbox-indicator"></span>
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-7 lost_password-wrap">
                                                                <span class="password-reminder woocommerce-LostPassword lost_password"> Lost your password? 
                                                                    <a href="">Click Here</a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-group--sm">
                                                        <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="a498b74bf9">
                                                        <input type="hidden" name="_wp_http_referer" value="/soccer-dark/my-account/"> 
                                                        <button type="submit" class="woocommerce-Button btn btn-primary-inverse btn-lg btn-block" name="login" value="Log in">Login</button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                        <!-- Login Form / End -->

                                    </div>

                                    <div class="col-lg-6">

                                        <!-- Register Form -->
                                        <div class="card">
                                            <header class="card__header"><h4>Register Now</h4></header>
                                            <div class="card__content">
                                                <form method="post" class="register">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="reg_email">Email address&nbsp;<span class="required">*</span></label>
                                                        <input type="email" class="woocommerce-Input woocommerce-Input--text form-control"
                                                            name="email" id="reg_email" autocomplete="email" value="" />
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="reg_password">Password&nbsp;<span class="required">*</span></label>
                                                        <input type="password" class="woocommerce-Input woocommerce-Input--text form-control"
                                                            name="password" id="reg_password" autocomplete="new-password" />
                                                    </div>

                                                    <div class="woocommerce-privacy-policy-text"></div>
                                                    <div class="form-group form-group--submit">
                                                        <input type="hidden" id="woocommerce-register-nonce" name="woocommerce-register-nonce" value="34d6db9353" />
                                                        <input type="hidden" name="_wp_http_referer" value="/soccer-dark/my-account/" />
                                                        <button type="submit" class="woocommerce-Button button btn-default btn-lg btn-block" name="register" value="Register">Register</button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                        <!-- Register Form / End -->

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </main>
            </div>

        </div>
    </div>
</div>

{% endblock %}