{% extends 'base.html' %}
{% block content %}

<title>{{staff.name}} - FC Bayern</title>
<div class="site-content" id="content">
    <div class="container">

        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-8">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">

                        <!-- Staff Bio Card -->
                        <div class="card card--clean alc-staff">

                            <div class="card__header">
                                <h4 class="">{{staff.designation}}</h4>
                                <a class="btn btn-xs btn-default card-header__button btn-outline" href="{% url 'team' %}" title="Go to the Team">Go to the Team</a>
                            </div>

                            <div class="card__content">

                                <div class="card">
                                    <div class="card__content">

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="alc-staff__photo">
                                                    <img width="380" height="570" src="/media/{{staff.profile_pic}}"
                                                        class="attachment-alchemists_thumbnail-player-lg size-alchemists_thumbnail-player-lg wp-post-image">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="alc-staff-inner">
                                                    <header class="alc-staff__header">
                                                        <h1 class="alc-staff__header-name">{{staff.name}}</h1>
                                                    </header>
                                                    <dl class="alc-staff-details">
                                                        <dt class="alc-staff-details__label">Designation</dt><dd class="alc-staff-details__value">{{staff.designation}}</dd>
                                                        <dt class="alc-staff-details__label">Age</dt><dd class="alc-staff-details__value">{{staff.age}}</dd>
                                                        <dt class="alc-staff-details__label">Nationality</dt>
                                                        <dd class="alc-staff-details__value"><img src="{{staff.nationality.flag}}" style="max-width: 12%">{{staff.nationality.name}}</dd>
                                                        <dt class="alc-staff-details__label">Past Job</dt><dd class="alc-staff-details__value">{{staff.previous_post}}</dd>
                                                        <dt class="alc-staff-details__label">Contract Start</dt><dd class="alc-staff-details__value">{{staff.contract_start|date:"F j, Y"}}</dd>
                                                        <dt class="alc-staff-details__label">Contract End</dt><dd class="alc-staff-details__value">{{staff.contract_end|date:"F j, Y"}}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Staff Bio Card / End -->

                        <div class="sp-section-content sp-section-content-content">
                            <div class="sp-post-content">
                                <h3 class="sp-post-caption">Biography</h3>
                                <p>{{staff.biography|safe}}</p>
                            </div>
                        </div>

                        {% if staff_news_models.count > 0 %}
                        <!-- Post Loop -->
                        <div class="card card--clean mb-0">

                            <div class="card__header">
                                <h4 class="">Related News</h4>
                                <a class="btn btn-xs btn-default card-header__button btn-outline" href="{% url 'news_all' %}" title="See All News">See All News</a>
                            </div>

                            <div class="card__content">
                                <div class="posts posts--cards post-grid post-grid--2cols row">

                                    {% for article in staff_news_models %}
                                    <article class="post-grid__item col-sm-6 posts__item--category-{{article.news_type.category}} post type-post status-publish format-standard has-post-thumbnail hentry category-{{article.news_type.css_name}}">
                                        <div class="posts__item posts__item--card card">
                                            <figure class="posts__thumb">
                                                <div class="posts__cat">
                                                    <span class="label posts__cat-label posts__cat-label--category-{{article.news_type.category}} category-{{article.news_type.css_name}}">{{article.news_type}}</span>
                                                </div>
                                                    <a href="{{article.get_absolute_url}}">
                                                        <img width="380" height="270" src="{% if article.image %}/media/{{article.image}}{% else %}{{article.image_url}}{% endif %}">
                                                    </a>
                                            </figure>
                                            <div class="posts__inner card__content">
                                                <time class="posts__date">{{article.added|date:"F j, Y"}}</time>
                                                <h2 class="posts__title">
                                                    <a href="{{article.get_absolute_url}}" rel="bookmark">{{article.title}}</a>
                                                </h2>
                                                <div class="posts__excerpt">{{article.excerpt|truncatechars:300}}</div>
                                            </div>
                                            <footer class="posts__footer card__footer">
                                                <div class="post-author">
                                                    <figure class="post-author__avatar">
                                                        <img src="/media/{{article.author.profile_pic}}" height='24' width='24'>
                                                    </figure>
                                                    <div class="post-author__info">
                                                        <h4 class="post-author__name">{{article.author.name_display}}</h4>
                                                    </div>
                                                </div>
                                                <div class="post__meta meta">
                                                    <div class="meta__item meta__item--views">{{article.views}}</div>
                                                    <div class="meta__item meta__item--likes ">
                                                        <a {% if logged_user %}href="{% url 'like' logged_user.id article.id %}"{% endif %} class="sl-button" title="Like">
                                                            <span class="sl-icon">
                                                                <i class="meta-like icon-heart" {% if logged_user and logged_user in article.liked.all %}style="color: red"{% endif %}></i>
                                                            </span>
                                                            <span class="sl-count">{{article.num_likes}}</span>
                                                        </a>
                                                        <span class="sl-loader"></span>
                                                    </div>
                                                    <div class="meta__item meta__item--comments"><a>{{article.comment_set.count}}</a></div>
                                                </div>
                                            </footer>
                                        </div>
                                    </article>
                                    {% endfor %}

                                </div><!-- .posts -->
                            </div>
                        </div>
                        <!-- Post Loop / End -->
                        {% endif %}
                        
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">

                        {% if staff.social_media_links_set.first.fb_link or staff.social_media_links_set.first.insta_link or staff.social_media_links_set.first.twitter_link %}
                        <!-- Widget: Social Buttons -->
                        <div class="widget widget--sidebar widget-social ">
                            {% if staff.social_media_links_set.first.fb_link %}
                            <a href="{{staff.social_media_links_set.first.fb_link}}" class="btn-social-counter btn-social-counter--fb" target="_blank">
                                <div class="btn-social-counter__icon"><i class="fab fa-facebook"></i></div>
                                <h6 class="btn-social-counter__title">Follow on Facebook</h6>
                                <span class="btn-social-counter__add-icon"></span>
                            </a>
                            {% endif %}
                            {% if staff.social_media_links_set.first.insta_link %}
                            <a href="{{staff.social_media_links_set.first.insta_link}}" class="btn-social-counter btn-social-counter--instagram" target="_blank">
                                <div class="btn-social-counter__icon"><i class="fab fa-instagram"></i></div>
                                <h6 class="btn-social-counter__title">Follow on Facebook</h6>
                                <span class="btn-social-counter__add-icon"></span>
                            </a>
                            {% endif %}
                            {% if staff.social_media_links_set.first.twitter_link %}
                            <a href="{{staff.social_media_links_set.first.twitter_link}}" class="btn-social-counter btn-social-counter--twitter" target="_blank">
                                <div class="btn-social-counter__icon"><i class="fab fa-twitter"></i></div>
                                <h6 class="btn-social-counter__title">Follow on Twitter</h6>
                                <span class="btn-social-counter__add-icon"></span>
                            </a>
                            {% endif %}
                        </div>
                        <!-- Widget: Social Buttons / End -->
                        {% endif %}

                        {% if all_timelines.count > 0 %}
                            <!-- Widget: Staff Newslog -->
                            {% include 'includes/widgets/player_newslog.html' %}
                            <!-- Widget: Staff Newslog / End -->
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}