{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="site-content" id="content">
    <div class="container">

        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-8">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">

                        <!-- Staff Bio Card -->
                        <div class="card card--clean alc-staff">

                            <div class="card__header">
                                <h4 class="">{{staff.designation}}</h4>
                                <a class="btn btn-xs btn-default card-header__button btn-outline" href="{% url 'roster' %}" title="Go to the Team">Go to the Team</a>
                            </div>

                            <div class="card__content">

                                <div class="card">
                                    <div class="card__content">

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="alc-staff__photo">
                                                    <img width="380" height="570" src="/media/{{staff.profile_pic}}"
                                                        class="attachment-alchemists_thumbnail-player-lg size-alchemists_thumbnail-player-lg wp-post-image">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="alc-staff-inner">
                                                    <header class="alc-staff__header">
                                                        <h1 class="alc-staff__header-name">{{staff.name}}</h1>
                                                    </header>
                                                    <dl class="alc-staff-details">
                                                        <dt class="alc-staff-details__label">Designation</dt><dd class="alc-staff-details__value">{{staff.designation}}</dd>
                                                        <dt class="alc-staff-details__label">Age</dt><dd class="alc-staff-details__value">{{staff.age}}</dd>
                                                        <dt class="alc-staff-details__label">Nationality</dt>
                                                        <dd class="alc-staff-details__value"><img src="{{staff.nationality.flag}}" style="max-width: 12%">{{staff.nationality.name}}</dd>
                                                        <dt class="alc-staff-details__label">Past Job</dt><dd class="alc-staff-details__value">{{staff.previous_post}}</dd>
                                                        <dt class="alc-staff-details__label">Contract Start</dt><dd class="alc-staff-details__value">{{staff.contract_start|date:"F j, Y"}}</dd>
                                                        <dt class="alc-staff-details__label">Contract End</dt><dd class="alc-staff-details__value">{{staff.contract_end|date:"F j, Y"}}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Staff Bio Card / End -->

                        <div class="sp-section-content sp-section-content-content">
                            <div class="sp-post-content">
                                <h3 class="sp-post-caption">Biography</h3>
                                <p>{{staff.biography|safe}}</p>
                            </div>
                        </div>

                        <!-- Post Loop -->
                        <div class="card card--clean mb-0">

                            <div class="card__header">
                                <h4 class="">Related News</h4>
                                <a class="btn btn-xs btn-default card-header__button btn-outline" href="#" title="See All News">See All News</a>
                            </div>

                            <div class="card__content">
                                <div class="posts posts--cards post-grid post-grid--2cols row">

                                    {% for article in staff_news_models %}
                                    <article class="post-grid__item col-sm-6 posts__item--category-1 post-91 post type-post status-publish format-standard has-post-thumbnail hentry category-the-team tag-alchemists tag-awards tag-coach tag-stadium">
                                        <div class="posts__item posts__item--card card">
                                            <figure class="posts__thumb">
                                                <div class="posts__cat">
                                                    <span class="label posts__cat-label posts__cat-label--category-1 category-the-team">{{article.news_type}}</span>
                                                </div>
                                                    <a href="{{article.get_absolute_url}}">
                                                        <img width="380" height="270" src="/media/{{article.image}}">
                                                    </a>
                                            </figure>
                                            <div class="posts__inner card__content">
                                                <time datetime="2017-04-05T12:23:52+00:00" class="posts__date">{{article.added}}</time>
                                                <h2 class="posts__title">
                                                    <a href="{{article.get_absolute_url}}" rel="bookmark">{{article.title}}</a>
                                                </h2>
                                                <div class="posts__excerpt">{{article.excerpt|truncatechars:300}}</div>
                                            </div>
                                            <footer class="posts__footer card__footer">
                                                <div class="post-author">
                                                    <figure class="post-author__avatar">
                                                        <img src='http://0.gravatar.com/avatar/c4a4bfa7304c328ed1ba7cd74c25c87f?s=24&#038;d=mm&#038;r=g' height='24' width='24'>
                                                    </figure>
                                                    <div class="post-author__info">
                                                        <h4 class="post-author__name">{{article.author}}</h4>
                                                    </div>
                                                </div>
                                                <div class="post__meta meta">
                                                    <div class="meta__item meta__item--views">{{article.views}}</div>
                                                    <div class="meta__item meta__item--likes ">
                                                        <a href="http://alchemists-wp.dan-fisher.com/soccer-dark/wp-admin/admin-ajax.php?action=process_simple_like&post_id=91&nonce=b99c76c30e&is_comment=0&disabled=true"
                                                            class="sl-button sl-button-91" data-nonce="b99c76c30e" data-post-id="91" data-iscomment="0" title="Like">
                                                            <span class="sl-icon"><i class="meta-like icon-heart"></i></span>
                                                            <span class="sl-count">70</span>
                                                        </a>
                                                        <span class="sl-loader"></span>
                                                    </div>
                                                    <div class="meta__item meta__item--comments">
                                                        <a href="http://alchemists-wp.dan-fisher.com/soccer-dark/the-new-eco-friendly-stadium-won-a-leafy-award-in-2016/#respond">0</a>
                                                    </div>
                                                </div>
                                            </footer>
                                        </div>
                                    </article>
                                    {% endfor %}

                                </div><!-- .posts -->
                            </div>
                        </div>
                        <!-- Post Loop / End -->

                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <!-- Widget: Social Buttons -->
                        <div class="widget widget--sidebar widget-social ">



                            <a href="https://www.facebook.com/danfisher.dev/"
                                class="btn-social-counter btn-social-counter--fb" target="_blank">
                                <div class="btn-social-counter__icon">
                                    <i class="fab fa-facebook"></i>
                                </div>
                                <h6 class="btn-social-counter__title">Facebook Page</h6>
                                <span class="btn-social-counter__count">Follow Me</span>
                                <span class="btn-social-counter__add-icon"></span>
                            </a>



                            <a href="https://twitter.com/danfisher_dev"
                                class="btn-social-counter btn-social-counter--twitter" target="_blank">
                                <div class="btn-social-counter__icon">
                                    <i class="fab fa-twitter"></i>
                                </div>
                                <h6 class="btn-social-counter__title">Twitter Account</h6>
                                <span class="btn-social-counter__count">Follow Me</span>
                                <span class="btn-social-counter__add-icon"></span>
                            </a>

                        </div>
                        <!-- Widget: Social Buttons / End -->

                        <!-- Widget: Team Newslog -->
                        <div class="widget card widget-newslog">
                            <div class="widget__title card__header">
                                <h4 class="">Staff Newslog</h4>
                            </div>
                            <div class="widget__content card__content">
                                <ul class="newslog">

                                    <li class="newslog__item newslog__item--join">
                                        <div class="newslog__item-inner">
                                            <div class="newslog__content"><strong>Jenny Thomps</strong> is now
                                                the new <strong>Team Recruiter</strong> for the East Coast
                                                Colleges.</div>
                                            <div class="newslog__date">December 19, 2015</div>
                                        </div>
                                    </li>

                                    <li class="newslog__item newslog__item--injury">
                                        <div class="newslog__item-inner">
                                            <div class="newslog__content"><strong>Robert Frankson</strong> will
                                                have a surgery and will be out for a month. Interim coach will
                                                be <strong>Frank Roberts</strong>.</div>
                                            <div class="newslog__date">September 26, 2014</div>
                                        </div>
                                    </li>

                                    <li class="newslog__item newslog__item--join">
                                        <div class="newslog__item-inner">
                                            <div class="newslog__content"><strong>Max Stevens</strong> is now
                                                the <strong>2nd Team Doctor</strong> after a succesfull run in
                                                the Sharks.</div>
                                            <div class="newslog__date">September 26, 2014</div>
                                        </div>
                                    </li>

                                    <li class="newslog__item newslog__item--exit">
                                        <div class="newslog__item-inner">
                                            <div class="newslog__content"><strong>Tommy Flankers</strong> left
                                                the team after 2 years as the <strong>2nd Team Doctor</strong>.
                                            </div>
                                            <div class="newslog__date">August 12, 2014</div>
                                        </div>
                                    </li>

                                    <li class="newslog__item newslog__item--join">
                                        <div class="newslog__item-inner">
                                            <div class="newslog__content"><strong>Patrick Storm</strong> is now
                                                the new <strong>Team Recruiter</strong> for the West Coast
                                                Colleges.</div>
                                            <div class="newslog__date">April 19, 2014</div>
                                        </div>
                                    </li>

                                    <li class="newslog__item newslog__item--join">
                                        <div class="newslog__item-inner">
                                            <div class="newslog__content"><strong>Alexa Polson</strong> is now
                                                the new <strong>Athletic Trainer</strong> after a succesfull run
                                                in the Pirates.</div>
                                            <div class="newslog__date">November 27, 2013</div>
                                        </div>
                                    </li>

                                    <li class="newslog__item newslog__item--join">
                                        <div class="newslog__item-inner">
                                            <div class="newslog__content"><strong>Savannah Lavender</strong> is
                                                the new <strong>Team Nutritionist</strong> with more than
                                                500.000 followers.</div>
                                            <div class="newslog__date">February 15, 2012</div>
                                        </div>
                                    </li>

                                    <li class="newslog__item newslog__item--join">
                                        <div class="newslog__item-inner">
                                            <div class="newslog__content"><strong>Robert Frankson</strong> is
                                                now the new <strong>Alchemist Coach</strong> after a succesfull
                                                run in the Lucky Clovers.</div>
                                            <div class="newslog__date">March 22, 2008</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Widget: Team Newslog / End -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}