{% extends 'base.html' %}
{% block content %}
{% load static %}

<title>Test</title>
<div class="site-content" id="content">
<div class="container">
    <div class="row">

        <div id="primary" class="content-area col-lg-12">

            <div class="card card__content">

                <form method="post">
                    {% csrf_token %}
                    {{ article_form.as_p }}
                    <input type="submit" value="Save">
                </form>
            </div>

        </div><!-- #primary -->

    </div>
</div>
</div>

{% endblock %}